<script>
  import '../../app.scss';
  import Sidebar from '$lib/components/Sidebar.svelte'
  import Pills from '$lib/components/Pills.svelte';
  import Top from '$lib/components/Top.svelte';
  import FreeTrialInfo from '$lib/components/FreeTrialInfo.svelte';
  import { loggedInAs, checkLogin, currentChatId, allPromptCategories, setPromptCategories, clearChatId, clearPromptCategoryPath, cleanChats, categoryFavourites, favouritesChanged, getOrganizationsFromDb, getRemainingChats } from '$lib/store/Store.svelte';
  import { Modals, closeModal } from 'svelte-modals'
  import { dispatchModalEsc, checkModalEsc } from '$lib/utils.js'
  // import { set as setOpenAI } from '$lib/providers/openai/util.js'
  // import { hasActiveModels } from '$lib/models.js'
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { navigating, page } from '$app/stores';
  import { onMount } from 'svelte';

  let updateInterval;

  let isFreeTrial = true;

  const variousUpdates = async () => {
    const amILoggedIn = await checkLogin();
    // console.log(`/(app)/+layout.svelte > updateInterval > amILoggedIn: ${JSON.stringify(amILoggedIn)}`);
    if(!amILoggedIn && browser) {
      // console.log(`going to login`);
      if(updateInterval) {
        clearInterval(updateInterval);
      }
      goto('/login');
      return false;
    } else {
      console.log(`amILoggedIn > ${JSON.stringify(amILoggedIn)}`);
      if(amILoggedIn.isFreeTrial) {
        if(!amILoggedIn.isVerified && browser) {
          goto('/login/checkYourEmail');
        } else {
          // this function sets currentFreeTrialRemainingChats
          getRemainingChats(); 
        }
      }
      if($favouritesChanged) {
        favouritesChanged.set(false);
        const favourites = $categoryFavourites.join(",");
        // console.log(`/app/+layout.svelte > variousUpdates > categoryFavourites: ${JSON.stringify($categoryFavourites)}`);
        const path = `/api/updateFavourites/${$loggedInAs.id}/${favourites}`;
        // console.log(`/(app)/+layout.svelte > variousUpdates > path: ${path}`);
        await fetch(path, { method: 'post' });
      }
      await fetch(`/api/cleanUnconfirmedChats/${$loggedInAs.id}`, { method: 'post' });
    }
  };

  export let data;
  $: {
    if(data && data.categories) {
      setPromptCategories(data.categories);
    }
    if(data && data.allCategories) {
      allPromptCategories.set(data.allCategories);
    }
    if($navigating) {
      cleanChats();
    }
    if(browser) {
      const content = document.querySelector(".content");
      if($currentChatId) {
        if(content) {
          content.style.maxHeight = "90vh";
        }
      } else {
        if(content) {
          content.style.maxHeight = "70vh";
        }
      }
    }
    if($loggedInAs) {
      isFreeTrial = $loggedInAs.isFreeTrial;
    }
  };
  onMount(async () => {
    console.log(`/(app)/+layout.svelte > $page.route.id: ${$page.route.id}`);
    if($page.route.id.match(/^\/\(app\)\/?$/)) {
      clearChatId();
    }
    updateInterval = setInterval(async () => {
      await variousUpdates();
    }, 60000 * 15); // every 15 minutes
    variousUpdates();
    /*
    * favourites
    */
    if($loggedInAs) {
      const favRes = await fetch(`/api/fetchFavourites/${$loggedInAs.id}`, { method: 'post' });
      if(favRes.status === 200) {
        const json = await favRes.json();
        if(json.success) {
          categoryFavourites.set(json.success);
        }
      }
      await fetch(`/api/cleanUnconfirmedChats/${$loggedInAs.id}`, { method: 'post' });
    }
    return true;
  });

</script>

<Top />
<div class="columns hlavni">
  <div class="column is-2 sidebar">
    <Sidebar />
  </div>
  <div class="column is-1"></div>
  <div class="column is-8">
    <Pills />
    <div id="content" class="content">
      <slot></slot>
    </div>
  </div>
  <div class="column is-1"></div>
</div>

<style>
  .hlavni {
    /* position: fixed;*/
    /* margin-top: 10rem; */
    width: 100%;
    height: 100%;
    z-index: 99999;
  }
  .hlavni > .sidebar {
    padding-top: 1.8rem;
     height: 100%;
     overflow-y: auto;
  }
  .content {
    width: 100%;
    height: 100%;
    /* max-height: 200vh; */
    overflow-y: auto;
  }
</style>

<!-- [TONY] Landing page here! -->
