<script>
  import { 
    categoryFavourites,
    favouritesChanged,
    categoryView,
    categorySearchValue
  } from '$lib/store/Store.svelte';
  import Hierarchy from '$lib/components/Hierarchy.svelte';
  import Favourites from '$lib/components/Favourites.svelte';
  import AllCategories from '$lib/components/AllCategories.svelte';
  import SearchCategories from '$lib/components/SearchCategories.svelte';
  import { get } from 'svelte/store';

  let search = false;

  $: {
    console.log(`/(app)/page.svelte > $categorySearchValue: ${$categorySearchValue}`);
    search = $categorySearchValue.length > 0;
  }

  let toggleFavourite = ({ id }) => {
    // console.log(`toggleFavourite > toggling ${id}`);
    let favourites = get(categoryFavourites);
    if(favourites.includes(id)) {
      categoryFavourites.set(
        favourites.filter(cId => cId !== id)
      );
    } else {
      favourites.push(id);
      categoryFavourites.set(favourites);
    }
    favouritesChanged.set(true);
  };
</script>

{#if search}
  <SearchCategories />
{:else}
  {#if $categoryView === 'hierarchy'}
    <Hierarchy bind:toggleFavourite />
  {:else if $categoryView === 'favourites'}
    <Favourites bind:toggleFavourite />
  {:else if $categoryView === 'all'}
    <AllCategories bind:toggleFavourite />
  {/if}
{/if}

