<script>
  import { loggedInAs } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';

  let formulario;
  let info = '';
  let status = null;

  onMount(() => {
    if($loggedInAs && $loggedInAs.profile && $loggedInAs.profile.info) {
      info = $loggedInAs.profile.info;
    }
    status = null;
  });

  const updateProfile = async () => {
    const formData = new FormData();
    formData.set('info', formulario['info'].value);
    formData.set('userId', $loggedInAs && $loggedInAs.id);
    const res = await fetch('/api/updateProfile', {
      method: 'post',
      body: formData
    });
    if(res && res.status === 200) {
      const json = await res.json();
      if(json.error) {
        status = `Error: ${json.error}`;
      } else {
        status = `New profile has been set`;
      }
    }
  };
</script>

{#if status}
  <div class="section">
    <p>{status}</p>
  </div>
{/if}
<div class="section">
  <form bind:this={formulario} method="post" on:submit|preventDefault={updateProfile}>
    <div class="field">
      <label class="label" for="info">
        Tell us a bit about yourself
      </label>
      <p class="control is-expanded">
        <textarea class="textarea" placeholder="Some words about YOU" bind:value={info} name="info"></textarea>
      </p>
    </div>
    <div class="level">
      <div class="level-left">
        <p class="level-item">&nbsp;</p>
      </div>
      <div class="level-right">
        <div class="level-item field">
          <div class="control">
            <button class="level-item button is-primary" type="submit">Oouh!</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
