<script>
  import CategoryLevel from '$lib/components/CategoryLevel.svelte';
  import { 
    promptCategories, 
    allPromptCategories,
    clearPromptCategoriesRestore,
    restorePromptCategories,
    savePromptCategories
  } from '$lib/store/Store.svelte';
  import { onMount, onDestroy } from 'svelte';
  import { get } from 'svelte/store';

  let categories = [];
  let changed = 0;
  let saved = false;

  $: {
    categories = $promptCategories;
  };

  onMount(() => {
    // categories = get(promptCategories);
    clearPromptCategoriesRestore();
    //console.log(`/categories/+page.svelte > promptCategories: ${JSON.stringify($promptCategories)}`);
    //console.log(`/categories/+page.svelte > allPromptCategories: ${JSON.stringify($allPromptCategories)}`);
  });

  onDestroy(() => {
    if(!saved) {
      restorePromptCategories();
    }
    clearPromptCategoriesRestore();
  });

  const cancel = () => {
    restorePromptCategories();
    clearPromptCategoriesRestore();
  };

  const save = () => {
    savePromptCategories();
    saved = true;
    changed = 0;
  }
</script>

<div class="columns">
  <div class="column is-three-quarters">
    <h1 class="title">Prompt Categories</h1>
  </div>
  <div class="column is-one-quarter">
    {#if changed > 0}
      <button class="button is-warning" on:click={cancel}>Cancel</button>
    {/if}
    <button class="button" class:is-light={changed === 0} class:is-danger={changed > 0} disabled={changed === 0} on:click={save}>Save</button>
  </div>
</div>
<CategoryLevel {categories} level={0} ancestors={[]} bind:changed bind:saved />
