<script>
  import { loggedInAs, setVerified } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { get, writable } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { page } from '$app/stores';
  let verificationTokenExpired = false;
  let status = writable('');

  onMount(async () => {
    if($loggedInAs) {
      console.log(`/login/checkYourEmail > onMount > $loggedInAs: ${JSON.stringify($loggedInAs)}`);
      const res = await fetch(`/api/checkVerified/${$loggedInAs.id}`, { method: 'post' });
      if(res.status === 200) {
        const json = await res.json();
        if(json.status && json.status === 'ok') {
          setVerified();
          if(browser) goto('/');
        }
      }
    }
    return true;
  });

  $: {
    const now = new Date().getTime();
    if($loggedInAs && $loggedInAs.vtExpiry && $loggedInAs.vtExpiry < now) {
      verificationTokenExpired = true;
    } else {
      verificationTokenExpired = false;
    }
  };

  const newVerificationToken = async () => {
    if($loggedInAs) {
      const res = await fetch(`/api/newVerificationToken/${$loggedInAs.id}`, { method: 'post' });
      if(res.status === 200) {
        const json = await res.json();
        if(json.status === 'ok' && json.user) {
          status.set('');
          const _loggedInAs = get(loggedInAs);
          _loggedInAs.vtExpiry = json.user.verification_token_expiry;
          _loggedInAs.verificationToken = json.user.verification_token;
          loggedInAs.set(_loggedInAs);
          const formData = new FormData();
          formData.set('user', JSON.stringify(_loggedInAs));
          formData.set('local', !!/localhost/.exec($page.path));
          fetch('/outgoingConfirmationEmail', {
            method: 'post',
            body: formData
          });
          /*
            setTimeout(() => {
              if(browser) goto('/login/checkYourEmail');
            }, 1000);
          */
        } else {
          status.set("Bad return from /api/newVerificationToken. Perhaps you should take a vacation.")
        }
      } else {
        status.set("Something went wrong! Call the cops!");
      }
    }
  };
</script>

<article class="message">
  <div class="message-header">
    Verification token
  </div>
  <div class="message-body">
    {#if $status.length > 0}
      <p class="has-text-danger">{ $status }</p>
    {/if}
    {#if verificationTokenExpired}
      <p>We sent you an email to verify your account, but it has expired. Click <a href="#" on:click={newVerificationToken}>here</a> to receive a fresh one.</p>
    {:else}
      <p>Check your email for a verification link then refresh this page.</p>
    {/if}
  </div>
</article>
