<script lang="ts">
  // Iterate messages
  import { globalStorage } from '$lib/store/Store.svelte';
  import EditMessage from '$lib/components/EditMessage.svelte'

  export let messages;
  export let chatId;
  export let chat;
  
  $: chatSettings = chat.settings;

</script>

{#each messages as message, i}
  {#if !((message.summarized) && $globalStorage.hideSummarized) && !(i === 0 && message.role === 'system' && !chatSettings.useSystemPrompt)}
  {#key message.uuid}<EditMessage bind:message={message} chatId={chatId} chat={chat} />{/key}
  {/if}
{/each}
