<script lang="ts">
  import prompts from '../awesome-chatgpt-prompts/prompts.csv'

  const inputPrompt = (prompt) => {
    input.value = prompt;
    input.style.height = 'auto';
    input.style.height = input.scrollHeight + 'px';
    active = false;
  }

  export let input;

  let active: boolean = false
</script>

{#if input}
<div class="container"><h1 class="is-size-2 mb-2"><i>What do you want to do today?</i></h1></div>
  <!--
<div class="tabs">
  <ul>
    <li><a>Recent Tasks</a></li>
    <li><a>My Tasks</a></li>
    <li class="is-active"><a>All Tasks</a></li>
    <li><div class="select">
      <select name="categories">
        <option>Categories</option>
        {#each prompts as prompt}
        <option title={prompt.category}>{prompt.category}</option>
        {/each}
      </select>
    </div></li>
  </ul>
</div>
<div class="container">
  <div class="field is-grouped is-flex-wrap-wrap">
{#each prompts as prompt}
  <span class="control my-1">
    <button title={prompt.prompt} class="button pushable" href={'#'} on:click|preventDefault={() => inputPrompt(prompt.prompt)}>
      {prompt.act}
    </button>
  </span>
{/each}
  </div>
</div>
-->

<div class="columns is-centered">
  <div class="column is-half">
    <div class="dropdown is-fullwidth" class:is-active={active}>
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <div class="dropdown-trigger" on:click={() => { active = !active }}>
        <button class="button is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Select a pre-made prompt</span>
          <span class="icon is-small">👇</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {#each prompts as prompt}
            <a title={prompt.prompt} class="dropdown-item" href={'#'} on:click|preventDefault={() => inputPrompt(prompt.prompt)}>
              {prompt.act}
            </a>
          {/each}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-half has-text-centered">or type below:</div>
</div>
{/if}

<style>
SELECT {
    background-color: transparent;
    border: none;
}
.pushable {
  width:max-content;
  height: max-content;
}
</style>  
