<script>
  import EditPromptForm from '$lib/components/EditPromptForm.svelte';
  import EditQuestionsForm from '$lib/components/EditQuestionsForm.svelte';
  import { setPromptIdInCategories } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { get, writable } from 'svelte/store';

  export let data;
  let categoryId;
  let changed = 0;
  let saved = true;
  let prompt = null;
  let questions = writable([]);
  let categoryIds = writable([]);
  let title = writable('');
  let systemTemplate = writable('');
  let userTemplate = writable('');
  let chosenSystemTemplateId = writable(0);
  let systemTemplatesLoaded = [];
  let systemTemplates = [];
  let errors = [];

  questions.subscribe(v => {
    // console.log(`CURRENT QUESTIONS: ${JSON.stringify(v)}`);
  });

  onMount(async () => {
    // console.log(`/(admin)/questions/new > fetching templates`);
    const res = await fetch(`/api/fetchTemplatesByType/system`, {
      method: 'post'
    });
    if(res.status === 200) {
      const json = await res.json();
      // console.log(`/(admin)/questions/new > onMount > json: ${JSON.stringify(json)}`);
      if(json && json.status && json.status === 'ok') {
        systemTemplatesLoaded = json.templates;
      }
    }
  });

  $: {
    if(data && data.categoryId) {
      categoryId = data.categoryId;
    }
    if(systemTemplatesLoaded.length > 0) {
      systemTemplates = systemTemplatesLoaded;
      //console.log(`/(admin)/questions/new > systemTemplates: ${JSON.stringify(systemTemplates)}`);
    }
  };

  const save = async () => {
    console.log(`/(admin)/questions/new > saving these apparati: questions: ${JSON.stringify($questions, null, "  ")}\ncategoryIds: ${JSON.stringify($categoryIds, null, "  ")}\ntitle: ${$title}\nchosenSystemTemplateId: ${$chosenSystemTemplateId}\nsystemTemplate: ${$systemTemplate}\nuserTemplate: ${$userTemplate}`);
    // need error checking
    const systemTemplateCheck = $systemTemplate.trim().length === 0 && $chosenSystemTemplateId === 0;
    if($title.trim().length === 0 || systemTemplateCheck || $userTemplate.trim().length === 0 || $categoryIds.length === 0) {
      alert("That ain't the way, vole!")
    } else {
      let formData = new FormData();
      formData.set('id', 0);
      formData.set('categoryIds', JSON.stringify($categoryIds));
      formData.set('title', $title);
      formData.set('systemTemplate', $systemTemplate);
      formData.set('userTemplate', $userTemplate);
      formData.set('chosenSystemTemplateId', $chosenSystemTemplateId);
      formData.set('questions', JSON.stringify($questions));
      const res = await fetch('/api/savePromptWithQuestions', {
        method: 'post',
        body: formData
      });
      if(res.status === 200) {
        const json = await res.json();
        if(json.success && json.promptId) {
          setPromptIdInCategories($categoryIds, json.promptId);
          changed = 0;
          saved = true;
          alert('Saved, your excellency');
          if(browser) {
            goto('/categories');
          }
        } else {
          alert(`Error: ${json.error}`);
          if(browser) {
            goto('/categories');
          }
        }
      } else {
        alert('Could not connect to server?');
        if(browser) {
          goto('/categories');
        }
      }
    } 
  };
</script>

<div class="columns">
  <div class="column is-four-fifths">
    <div class="title">New Prompt</div>
  </div>
  <div class="column is-one-fifth is-flex is-justify-content-right">
    {#if changed > 0}
      <!-- <button class="button is-warning" on:click={cancel}>Cancel</button>-->
    {/if}
    <button class="button" class:is-light={changed === 0} class:is-danger={changed > 0} disabled={changed === 0} on:click={save}>Save</button>
  </div>
</div>
<EditPromptForm 
  bind:title
  bind:systemTemplate
  bind:systemTemplates
  bind:chosenSystemTemplateId
  bind:userTemplate
  bind:categoryId 
  bind:prompt 
  bind:changed 
  bind:saved 
  bind:categoryIds 
  bind:errors
/>
<EditQuestionsForm bind:questions bind:changed bind:saved bind:errors />
