<script>
  import '../../app.scss';
  import { checkLogin, token } from '$lib/store/Store.svelte';
  import { browser } from '$app/environment';
  import { onMount, onDestroy } from 'svelte';
  import { goto } from '$app/navigation';
  import { isAdmin } from '$lib/utils.js';
  import Top from '$lib/components/Top.svelte';
  import logo from '$lib/assets/logo.jpg'

  let privInterval;

  $: {
  };

  const privileges = async () => {
    const loggedInAs = await checkLogin();
    if(loggedInAs) {
      const amIAdmin = await isAdmin(loggedInAs);
      if(!amIAdmin && browser) {
        goto("/");
      }
    } else {
      if(browser) {
        goto("/login");
      }
    }
  };

  onMount(async () => {
    privInterval = setInterval(async () => {
      await privileges();
    }, 60000);
    await privileges();
    return true;
  });
  onDestroy(() => {
    if(privInterval) {
      clearInterval(privInterval);
    }
  });
</script>

<Top />
<section class="section">
  <div id="content">
    <slot></slot>
  </div>
</section>

<style>
  .brand {
    font-family: Heebo;
    font-size: 4em;
  }
</style>
