<script>
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faFilter } from '@fortawesome/free-solid-svg-icons/index';
  import { allPromptCategories, savePrompts } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';
  import SulliedPrompt from '$lib/components/SulliedPrompt.svelte';

  export let data;
  let originalPrompts = [];
  let prompts = [];
  let shownPrompts = [];
  let changed = 0;
  let saved = true;
  let filter;

  onMount(() => {
    if(data && data.prompts) {
      originalPrompts = data.prompts;
      // console.log(`/(admin)/prompts/+page.svelte > onMount > data.prompts: ${JSON.stringify(originalPrompts)}`);
      prompts = structuredClone(originalPrompts);
    }
  });

  $: {
    if(prompts && prompts.length > 0) {
      const _filter = (filter && filter.trim()) || '';
      console.log(`/(admin)/prompts/+page.svelte > _filter: ${_filter}`);
      shownPrompts = prompts.filter(prompt => {
        const re = new RegExp(_filter, "i");
        return _filter.length === 0 || !!re.exec(prompt.title);
      });
    }
  };

  const cancel = () => {
    prompts = structuredClone(originalPrompts);
    changed = 0;
    saved = false;
  };

  const save = () => {
    console.log(`/(admin)/prompts/+page.svelte > save > prompts to save: ${JSON.stringify(prompts.filter(p => p.changed))}`);
    savePrompts(prompts.filter(p => p.changed));
    changed = 0;
    saved = true;
  };
</script>

<div class="columns is-v-centered">
  <div class="column is-two-fifths">
    <h1 class="title">Prompts</h1>
  </div>
  <div class="column is-two-fifths">
    <div class="field">
      <div class="control has-icons-left">
        <label class="label" for="filter">Filter prompts:</label>
        <input name="filter" bind:value={filter} />
      </div>
    </div>
  </div>
  <div class="column is-one-fifth is-flex is-justify-content-right">
    {#if changed > 0}
      <button class="button is-warning" on:click={cancel}>Cancel</button>
    {/if}
    <button class="button" class:is-light={changed === 0} class:is-danger={changed > 0} disabled={changed === 0} on:click={save}>Save</button>
  </div>
</div>
{#if shownPrompts.length > 0}
<div class="columns">
  <div class="column is-one-fifth">
    <div class="subtitle">Categories</div>
  </div>
  <div class="column is-three-fifths">
    <div class="subtitle">Prompt</div>
  </div>
  <div class="column">&nbsp;</div>
</div>
{/if}
{#each shownPrompts as prompt}
  <SulliedPrompt prompt={prompt} bind:prompts bind:changed bind:saved bind:filter />
{/each}
