<script>
  import { logout } from '$lib/store/Store.svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  logout();
  if(browser) {
    goto('/login');
  }
</script>

<p>You've been logged out. Click <a href={'/login'}>here</a></p>
