<script>
  import {loadStripe} from '@stripe/stripe-js/pure';
  import { onMount } from 'svelte';
  import config from '$lib/config.js';

  let stripe;
  let clientSecret;
  let elements;
  let paymentElement;
  let loading = false;
  let errorMessage = null;

  const returnUrl = config.isLocal ? "http://localhost:5005/upgrade/confirmed" : "https://snelly.thurk.org/upgrade/confirmed";

  onMount(async () => {
    loadStripe.setLoadParameters({advancedFraudSignals: false});
    //    console.log(import.meta.env.VITE_STRIPE_PUBLIC_KEY);
    stripe = await loadStripe(import.meta.env.VITE_STRIPE_PUBLIC_KEY);

    const res = await fetch(`/api/createPaymentIntent`, { method: 'post' });
    if(res && res.status === 200) {
      const json = await res.json();
      clientSecret = json.clientSecret;
    }

    const appearance = {
      theme: 'stripe',
    };
    elements = stripe.elements({ appearance, clientSecret });

    const paymentElementOptions = {
      layout: "tabs"
    };
    paymentElement = elements.create("payment", paymentElementOptions);
    paymentElement.mount("#payment-element");
  });

  const pay = async () => {
    errorMessage = null;
    if(elements) {
      const { error } = await stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url: returnUrl
        }
      });
      if(error) {
        if (error.type === "card_error" || error.type === "validation_error") {
          errorMessage = error.message;
        } else {
          errorMessage = "An unexpected error occurred.";
        }
      }
    }
  };
</script>

<form id="payment-form" class="card" on:submit|preventDefault={pay}>
  <div class="card-header">
    Sign up for unlimited chats on Snelly!
  </div>
  <div id="payment-element" class="card-content"> <!-- bind:this={paymentElement}> -->
    <!--Stripe.js injects the Payment Element-->
  </div>
  <div class="card-footer">
    <button id="submit" type="submit" class="button is-primary" class:is-loading={loading}>
      <span id="button-text">Pay now</span>
    </button>
  </div>
  {#if errorMessage}
    <div class="notification is-danger is-light">
      {errorMessage}
    </div>
  {/if}
</form>

