<script>
	import { Button, Hr, Html, Text } from 'svelty-email';

	export let name = 'Tungsten';
  export let local = false;
  export let token = 'whappy';

  const url = local ? "http://localhost:5005" : "https://snelly.thurk.org";
</script>

<Html lang="en">
	<Text>
		Hello, {name}!
    Thank you for signing up for Snelly. 
    Please click the following link to confirm your email address and THUS begin using Snelly as soon as possible: https://{url}/confirmEmail/{token}
	</Text>
</Html>
