<script>
import {loadStripe} from '@stripe/stripe-js/pure';
import { onMount } from 'svelte';
import { page } from '$app/stores';
export let data;
let stripe;
let message = "Unknown!"

onMount(async () => {
  loadStripe.setLoadParameters({advancedFraudSignals: false});
  stripe = await loadStripe(import.meta.env.VITE_STRIPE_PUBLIC_KEY);
  const paymentIntentClientSecret = $page.url.searchParams.get('payment_intent_client_secret');
  if(paymentIntentClientSecret) {
    const res = await stripe.retrievePaymentIntent(paymentIntentClientSecret);
    console.log(`/upgrade/confirmed > paymentIntent: ${JSON.stringify(res.paymentIntent)}}`);
    const paymentIntent = res.paymentIntent;

    // Inspect the PaymentIntent `status` to indicate the status of the payment
    // to your customer.
    //
    // Some payment methods will [immediately succeed or fail][0] upon
    // confirmation, while others will first enter a `processing` state.
    //
    // [0]: https://stripe.com/docs/payments/payment-methods#payment-notification
    switch (paymentIntent.status) {
      case 'succeeded':
        message = 'Success! Payment received.';
        break;

      case 'processing':
        message = "Payment processing. We'll update you when payment is received.";
        break;

      case 'requires_payment_method':
        message = 'Payment failed. Please try another payment method.';
        // Redirect your user back to your payment page to attempt collecting
        // payment again
        break;

      default:
        message = 'Something went wrong.';
        break;
    }
  }
});
</script>

<p>Your payment status: {message}</p>

