<script>
  import { 
    loggedInAs, 
    organizations, 
    insertOrUpdateOrganization,
    deleteOrganization,
    saveOrganizationsToDb
  } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { goto } from '$app/navigation';
  import { browser } from '$app/environment';
  let formulario;
  let orgsLen = 0;
  let isEditing = false;
  let isNew = false;
  let currentOrg = { name: '', description: '', longDescription: '', saved: false };
  let extantOrgs = [];

  $: {
    if(!$loggedInAs) {
      if(browser) {
        goto('/login');
      }
    } else {
      console.log(`/api/organizations/+page.svelte > $organizations: ${JSON.stringify($organizations)}`);
      orgsLen = $organizations.length;
    }
  };

  $: extantOrgs = $organizations.filter(org => !org.removed);

  const newOrg = () => {
    currentOrg = { name: '', description: '', saved: false };
    isEditing = true;
    isNew = true;
  };

  const editOrg = org => {
    isEditing = true;
    currentOrg = org;
    isNew = false;
  };

  const insertOrUpdate = async () => {
    if(formulario) {
      (async () => {
        await insertOrUpdateOrganization({
          name: formulario['name'].value,
          description: formulario['description'].value,
          longDescription: formulario['longDescription'].value,
          nuevo: formulario['nuevo'].value && formulario['nuevo'].value !== "false",
          orden: currentOrg.orden,
          id: currentOrg.id,
          saved: currentOrg.saved,
          modified: true
        });
        saveOrganizationsToDb();
      })();
    }
    isEditing = false;
    isNew = false;
  };

  const deleteOrg = org => {
    if(window.confirm("Are you sure?")) {
      (async () => {
        await deleteOrganization(org); 
        saveOrganizationsToDb();
      })();
    }
  };
  
</script>

<div class="section">
  <h1 class="title">You have { orgsLen } { orgsLen === 1 ? 'organization' : 'organizations' }</h1> 
  {#if orgsLen > 0}
    <table class="table">
      <thead>
        <tr><th>Name</th><th>Description</th><th># of Chats</th><th></th><th></th></tr>
      </thead>
      <tbody>
        {#each extantOrgs as org, idx (idx)}
        <tr>
          <td>{ org.name }</td>
          <td>{ org.description }</td>
          <td>{ org.extant || Math.floor(Math.random() * 3) }</td>
          <td><a on:click|preventDefault={() => editOrg(org)}>Edit</a></td>
          <td><a on:click|preventDefault={() => deleteOrg(org)}>Delete</a></td>
        </tr>
        {/each}
      </tbody>
    </table>
  {/if}
  <button class="button is-dark" on:click|preventDefault={newOrg}>New</button>
</div>
<div class="section" class:is-hidden={!isEditing}>
  <form bind:this={formulario} on:submit|preventDefault={insertOrUpdate}>
    <input type="hidden" name="nuevo" bind:value={isNew} />
    <div class="label is-normal">
      <label for="name">Name</label>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" name={'name'} bind:value={currentOrg.name} />
      </div>
    </div>
    <div class="label is-normal">
      <label for="description">Short Description</label>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <textarea name={'description'} rows="3" bind:value={currentOrg.description} />
      </div>
    </div>
    <div class="label is-normal">
      <label for="description">Details</label>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <textarea name={'longDescription'} rows="3" bind:value={currentOrg.longDescription} />
        <p class="help">This part especially will be fed to ChatGPT</p>
      </div>
    </div>
    <p class="control settings">
      <button class="button" type="submit">Submit</button>
    </p>
  </form>
</div>

<style>
  a {
    cursor: pointer;
  }
</style>
