<script>
  import '../../../app.scss';
  // import '../../../theme.scss';
  import { loggedInAs, token } from '$lib/store/Store.svelte';
  import { browser } from '$app/environment';
  import { onMount } from 'svelte';
  import { goto } from '$app/navigation';
  import LoginNavbar from '$lib/components/LoginNavbar.svelte';
  import LoginSidebar from '$lib/components/LoginSidebar.svelte';

  $: {
    if(!!$loggedInAs) {
      if($loggedInAs.isFreeTrial && !$loggedInAs.isVerified) {
        if(browser) goto('/login/checkYourEmail');
      } else {
        if(browser) goto('/');
      }
    }
  };
</script>

<LoginNavbar />
<div class="columns hlavni">
  <div class="column is-2">
    <LoginSidebar />
  </div>
  <div class="column is-1"></div>
  <div class="column is-7">
    <section class="section">
      <div id="content">
        <slot></slot>
      </div>
    </section>
  </div>
  <div class="column is-1"></div>
</div>

<style>
  .hlavni {
    position: relative;
    width: 100%;
    z-index: 99999;
  }
  #content {
    margin-top: 4rem;
  }
</style>
