<script>
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';
  import { loggedInAs, loginAs, getOrganizationsFromDb, atsol } from '$lib/store/Store.svelte';
  import { page } from '$app/stores';
  import { goto } from '$app/navigation';
  import { browser } from '$app/environment';
  import Login from '$lib/components/Login.svelte';
  import Signup from '$lib/components/Signup.svelte';
  import ForgotPassword from '$lib/components/ForgotPassword.svelte';
  import Status from '$lib/components/Status.svelte';
  export let data;
  export let form;
  let at = atsol.LOGIN;
  let user;
  let status;

  if(form?.success && form?.success.username) {
    status = null;
    loginAs(form.success);
    if(form.success.signup) {
      user = form.success;
    }
    if(browser) {
      console.log(`REDIRECTING`);
      getOrganizationsFromDb();
      goto('/');
    }
  } else if(form?.error) {
    status = form.error;
    at = !!form?.signup ? atsol.SIGNUP : atsol.LOGIN;
  }

  onMount(() => {
    if(user && user.signup) {
      const local = !!/localhost/.exec($page.path);
      const formData = new FormData();
      formData.set('user', JSON.stringify(form.success));
      formData.set('local', local);
      fetch('/outgoingConfirmationEmail', {
        method: 'post',
        body: formData
      });
    }
  });
</script>

{#if !$loggedInAs}
  <Status bind:status />
  <Login bind:at bind:status />
  <Signup bind:at bind:status />
  <ForgotPassword bind:at bind:status />
{/if}

<style>
</style>
