
{#if history.length > 0}
  {#each history as entry}
    <div class="card">
      {#if entry.categoryPath}
        <div class="card-header">
          <div class="card-header-title">
            <a href={'#'} on:click|preventDefault={() => loadChat(entry)}>
              {entry.categoryPath}
            </a>
            <a class="is-pulled-right px-1 py-0 has-text-weight-bold delete-button" href={'$'} on:click|preventDefault={() => delChat(entry.id)}><Fa icon={faTrash} /></a>
          </div>
        </div>
      {/if}
      <div class="card-content">
        <p>{entry.title}</p>
      </div>
    </div>
  {/each}
{:else}
  <p>Nothing here (yet!)</p>
{/if}
