<script>
  import {
    allPromptCategories,
    categoryFavourites
  } from '$lib/store/Store.svelte';
  import { 
    sortCatsByFavourite, 
    sortCatsByHasPrompt 
  } from '$lib/utils.js';
  import Category from '$lib/components/Category.svelte';
  import { get } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  let currentCategories = [];
  export let toggleFavourite;

  $: {
    let categories = sortCatsByFavourite(get(allPromptCategories), $categoryFavourites);
    categories = sortCatsByHasPrompt(categories);
    currentCategories = [];
    let clump = [];
    for(let idx = 0; idx < categories.length; idx++) {
      // console.log(`AllCategories.svelte > category: ${JSON.stringify(categories[idx])}`);
      if(idx % 3 === 0 && idx !== 0) {
        currentCategories.push(clump);
        clump = [];
      }
      clump.push(categories[idx]);
    }
    currentCategories.push(clump);
  };
</script>

<div class="section">
{#each currentCategories as categorySet}
  <div class="tile is-ancestor">
    {#each categorySet as category}
      <Category {category} isHierarchy={false} bind:toggleFavourite />
    {/each}
  </div>
{/each}
</div>

<style>
  .box {
    position: relative;
    padding: 2rem;
    border-radius: 24px;
    border: 2px solid #3A36DB;
    box-shadow: -3px 3px 8px rgba(12, 12, 12, 0.2);
    /* box-shadow: rgba(100, 100, 100, 0.1) 0px 6.66667px 13.3333px -1.66667px; */
  }
  .star {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
  }
  .has-prompt {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #ccbbcc;
    font-size: smaller;
  }
</style>
