<script>
  import {
    promptCategories,
    prependIdToPromptCategoryPath,
    categoryFavourites
  } from '$lib/store/Store.svelte';
  import { findPromptPathFromPromptId } from '../utils.js';
  import { get } from 'svelte/store';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faStar as faStarSolid } from '@fortawesome/free-solid-svg-icons/index';
  import { faStar as faStarRegular } from '@fortawesome/free-regular-svg-icons/index';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  export let category = [];
  export let isHierarchy = false;
  export let toggleFavourite = () => {};
  let _category = [{}];

  const toPrompt = ({ id, title, prompt_id }) => {
    if(prompt_id) {
      findPromptPathFromPromptId($promptCategories, id);
      if(browser) {
        goto(`/chat/snek/${prompt_id}`);
      }
    }
  };

  const drill = ({id, title, prompt_id}) => {
    console.log(`/(app)/+page.svelte > drill > id: ${id}`);
    prependIdToPromptCategoryPath(id);
    // categories = get(promptCategories);
    /*
    if(prompt_id) {
      if(browser) {
        goto(`/chat/snek/${prompt_id}`);
      }
    } else {
      categories = get(promptCategories);
    }
    */
  };

  $: _category = isHierarchy ? category[0] : category;
</script>

<div class="tile is-parent">
  <a class="tile is-child box" href="#" on:click|preventDefault={() => {
    if(isHierarchy) {
      if(_category.hasChildren) {
        drill(_category); 
      } else if(_category.prompt_id) {
        toPrompt(_category);
      } else {
        alert("There is no prompt, yet instead a spacious void");
      }
    } else {
      if(_category.prompt_id) {
        toPrompt(_category);
      } else {
        alert("There is no prompt, yet instead a spacious void");
      }
    }
  }}>
    <article>
      <div class="star" on:click={e => {
        e.stopPropagation();
        toggleFavourite(_category);
      }}>
        {#if $categoryFavourites.includes(_category.id)}
          <Fa icon={faStarSolid} />
        {:else}
          <Fa icon={faStarRegular} />
        {/if}
      </div>
      <p class="subtitle has-text-centered">
        {_category.title}
      </p>
      {#if _category.prompt_id}
        <span class="has-prompt">has prompt</span>
      {/if}
    </article>
  </a>
</div>

<style>
  .tile.is-parent {
    flex: initial;
    width: 33%;
  }
  .box {
    position: relative;
    padding: 1.7rem;
    border-radius: 32px;
    border: 2px solid #3A36DB;
    box-shadow: -3px 3px 8px rgba(12, 12, 12, 0.2);
  }
  .box > p {
    font-size: 150%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .subtitle > a {
    color: #000000;
  }
  .star {
    position: absolute;
    right: 1.2rem;
    top: 0.6rem;
  }
  .has-prompt {
    font-size: smaller;
     position: absolute; 
    right: 1.2rem;
    bottom: 0.6rem;
  }
</style>
