<script>
  import { deletePromptCategory } from '$lib/store/Store.svelte';
  import CategoryLevel from '$lib/components/CategoryLevel.svelte';
  import NewCategory from '$lib/components/NewCategory.svelte';
  import EditCategory from '$lib/components/EditCategory.svelte';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faPlus, faMinus, faArrowDown, faTrash, faPencil } from '@fortawesome/free-solid-svg-icons/index';
  import { onMount } from 'svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  export let categories = [];
  export let level = 0;
  export let ancestors = [];
  export let changed;
  export let saved;
  let states = [];
  let newCategory = false;
  let currentCategories = [];

  $: {
    if(categories && categories.length > 0) {
      categories = categories.map((category, idx) => {
        category[0].idx = idx;
        return category;
      });
      states = Array.from({ length: categories.length }, (_, idx) => {
        return states[idx] || {
          editing: false,
          open: false
        };
      });
    }
  };

  const toggleOpen = ({ idx }) => {
    states[idx] = Object.assign(states[idx], {
      open: !states[idx].open 
    });
  };

  const toggleEdit = ({ idx }) => {
    states[idx] = Object.assign(states[idx], {
      editing: !states[idx].editing
    });
    console.log(`On level ${level}, the states are: ${JSON.stringify(states)}`);
  };

  const toggleNewCategory = () => {
    newCategory = !newCategory;
  };

  const deleteCategory = ({ id }) => {
    if(browser) {
      const respuesta = window.confirm("Are you sure, vole?");
      if(respuesta) {
        changed = changed + 1;
        deletePromptCategory(id, level, ancestors);
      }
    }
  };

  const toPrompt = ({ id, prompt_id }) => {
    console.log(`CategoryLevel.svelte > toPrompt > id: ${id}, prompt_id: ${prompt_id}`);
    if(changed && changed > 0) {
      alert('Initially you must save');
    } else {
      if(prompt_id) {
        if(browser) {
          goto(`/questions/edit/${id}/${prompt_id}`);
        }
      } else {
        if(browser) {
          goto(`/questions/new/${id}`);
        }
      }
    }
  };
</script>

{#each categories as category, idx}
  {#if category[0] && !category[0].deleted}
    <div class="columns">
      {#each Array(level) as _}
        <div class="column is-one-quarter" />
      {/each}
      <div class="column is-one-quarter">
        <div class="box">
          <div class="media pointer">
            <div class="media-content">
              <div class="content">
                {#if states[idx].editing}
                  <EditCategory 
                    categoryId={category[0].id}
                    title={category[0].title}
                    {ancestors}
                    {level}
                    bind:saved
                    bind:changed
                    toggleEdit={() => toggleEdit(category[0])}
                  />
                {:else}
                  {category[0].title}
                {/if}
              </div>
            </div>
            {#if !states[idx].editing}
            <div class="media-right">
              <span class="pointer" on:click={() => toggleEdit(category[0])}>
                <Fa icon={faPencil} />
              </span>
              {#if !category[0].prompt_id}
                <span class="pointer" on:click={() => toggleOpen(category[0])}>
                  {#if states[idx].open}
                    <Fa icon={faMinus} />
                  {:else}
                    <Fa icon={faPlus} />
                  {/if}
                </span>
              {/if}
            </div>
            {/if}
          </div>
          {#if category[1].length === 0}
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <a href="#" on:click={() => toPrompt(category[0])} class="of-prompt">
                    {#if category[0].prompt_id}
                      to prompt
                    {:else}
                      make prompt
                    {/if}
                  </a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  {#if !category[0].prompt_id}
                    <a href="#" on:click|preventDefault={() => deleteCategory(category[0])}>
                      <Fa icon={faTrash} />
                    </a>
                  {/if}
                </div>
              </div>
            </div>
          {/if}
        </div>
      </div>
      {#if states[idx].open}
        <div class="column is-one-quarter has-text-centered">
          <Fa icon={faArrowDown} />
        </div>
      {/if}
      {#if level < 4 }
        <div class="column">&nbsp;</div>
      {/if}
    </div>
    {#if states[idx].open}
      <CategoryLevel 
        categories={category[1]} 
        level={level + 1} 
        ancestors={ancestors.concat([ category[0].id ])}
        bind:changed
        bind:saved
      />
    {/if}
  {/if}
{/each}
<div class="columns">
  {#each Array(level) as _}
    <div class="column is-one-quarter" />
  {/each}
  <div class="column is-one-quarter" class:has-text-centered={!newCategory}>
    {#if newCategory}
      <NewCategory {level} bind:newCategory {ancestors} bind:changed bind:saved />
    {:else}
      <a href="#" on:click|preventDefault={toggleNewCategory}>
        New
      </a>
    {/if}
  </div>
  {#if level < 4 }
    <div class="column">&nbsp;</div>
  {/if}
</div>

<style>
  .box {
    padding: 0.4rem; 
  }
  .pointer {
    cursor: pointer;
  }
  .of-prompt {
    font-size: smaller;    
  }
</style>
