<script>
  import { autoGrowInputOnEvent, scrollToBottom } from '$lib/utils.js';
  import { newMessage, currentChat, messageIsLoading, currentChatId, loggedInAs, zepMessagesToChat } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { browser } from '$app/environment';
  import Fa from 'svelte-fa/src/fa.svelte';
  import {
    faArrowUpFromBracket,
    faPaperPlane,
    faGear,
    faPenToSquare,
    faMicrophone,
    faLightbulb,
    faCommentSlash,
    faCircleCheck
  } from '@fortawesome/free-solid-svg-icons/index'
  import Footer from '$lib/components/Footer.svelte';
  import { zepMemory } from '$lib/zepFromClient.js';
  let formulario;
  let input;
  let recognition;

  onMount(() => {
    // Focus the input on mount
    focusInput();

    // Try to detect speech recognition support
    if(browser) {
      if ('SpeechRecognition' in window) {
        // @ts-ignore
        recognition = new window.SpeechRecognition()
      } else if ('webkitSpeechRecognition' in window) {
        // @ts-ignore
        recognition = new window.webkitSpeechRecognition() // eslint-disable-line new-cap
      }

      if (recognition) {
        recognition.interimResults = false
        recognition.onstart = () => {
          recording = true
        }
        recognition.onresult = (event) => {
          // Stop speech recognition, submit the form and remove the pulse
          const last = event.results.length - 1
          const text = event.results[last][0].transcript
          input.value = text
          recognition.stop()
          recording = false
          submitForm(true)
        }
      } else {
        console.log('Speech recognition not supported')
      }
    }
  });

  const focusInput = () => {
    input.focus();
    if(browser) {
      // scrollToBottom();
    }
  }

  const submitForm = async () => { 
    const userMessage = input && input.value;
    await newMessage(userMessage, 'human', { atOnce: true });
    input.value = "";
    messageIsLoading.set(true);
    await newMessage('', 'ai', { begin: true });
    const messagesFormData = new FormData();
    messagesFormData.set('messages', JSON.stringify($currentChat.messages));
    messagesFormData.set('prompt', JSON.stringify($currentChat.prompt));
    messagesFormData.set('chatId', $currentChatId);
    messagesFormData.set('user', $loggedInAs.username);
    const garbage = Array.from(
      { length: 10 }, 
      (v, k) => String.fromCharCode(Math.floor(Math.random() * 26) + 97)
    ).join('');
    const headers = new Headers();
    headers.append('pragma', 'no-store');
    headers.append('cache-control', 'no-store');
    headers.append('X-Accel-Buffering', 'no');
    let res;
    try {
      res = await fetch(`/api/sendMessages?q=${garbage}`, {
        method: 'post',
        headers: headers,
        body: messagesFormData,
        mode: 'same-origin',
        cache: 'no-store',
        priority: 'high'
      });
    } catch(err) {
      console.log(`ChatForm.svelte > finish > error in fetch: ${err}`);
    }
    if(res) {
      const reader = res.body.getReader();
      while(true) {
        const res = await reader.read();
        if(!res) {
          await newMessage('Null response from server', 'ai', { continue: true });
          break;
        }
        // console.log(`The reader is getting: ${JSON.stringify(res)}`);
        if(res.value) {
          const intObj = Object.keys(res.value).reduce((intObj, keyStr) => {
            intObj[parseInt(keyStr)] = res.value[keyStr];
            return intObj;
          }, {});
          const message = Object.keys(intObj).sort((a, b) => a - b).reduce((message, key) => {
            let char = String.fromCharCode(intObj[key]);
            // newline
            if(intObj[key] === 10) {
              char = "$$$@$$$";
            }
            return `${message}${char}`;
          }, "");
          // console.log(`ChatForm.svelte > the message continues: ${message}`);
          await newMessage(message, 'ai', { continue: true });
        }
        if(res.done) break;
      }
      if($currentChatId) {
        const zepMessages = await zepMemory($currentChatId);
        await zepMessagesToChat(zepMessages);
      } else {
        console.log(`ChatForm.svelte > submitForm > WHY IS $currentChatId null?`);
      }
    } else {
      console.log(`ChatForm.svelte > res from server was null`);
      await newMessage('Error from server?', 'ai', { begin: true });
    }
    messageIsLoading.set(false);
    return;
  };
  const submitQuestion = () => { };
  const showSettingsModal = () => { };
</script>

<Footer class="prompt-input-container" strongMask={false}>
  <form bind:this={formulario} class="" on:submit|preventDefault={() => submitForm()}>
    <div class="field has-addons">
      <div class="control is-expanded">
        <textarea
          class="input is-info is-focused" 
          placeholder="Type your answer here..."
          rows="1"
          on:keydown={e => {
            // Only send if Enter is pressed, not Shift+Enter
            if (e.key === 'Enter' && !e.shiftKey) {
              e.stopPropagation()
              submitForm()
              e.preventDefault()
            }
          }}
          on:input={e => autoGrowInputOnEvent(e)}
          bind:this={input}
        />
      </div>
    <!--
    <p class="control mic" class:is-hidden={!recognition}>
      <button class="button" class:is-disabled={chatRequest.updating} class:is-pulse={recording} on:click|preventDefault={recordToggle}
      ><span class="icon"><Fa icon={faMicrophone} /></span></button
    </p>
    -->
    <!--
    <p class="control settings">
      <button title="Chat/Profile Settings" class="button" on:click|preventDefault={showSettingsModal}><span class="icon"><Fa icon={faGear} /></span></button>
    </p>
    <p class="control queue">
      <button title="Queue message, don't send yet" class="button is-ghost" on:click|preventDefault={submitQuestion}><span class="icon"><Fa icon={faArrowUpFromBracket} /></span></button>
    </p>
    -->
      <div class="control">
        <button title="Send" class="button is-info" type="submit"><span class="icon"><Fa icon={faPaperPlane} /></span></button>
      </div>
    </div>
  </form>
</Footer>

<style>
  .send {
    margin-top: -100px;
  }
</style>
