<script>
  import { promptCategories, clearChatId, promptCategoryPath, clearPromptCategoryPath, categoryView, categorySearchValue } from '$lib/store/Store.svelte';
  import { promptCategoriesFromPromptCategoryPath } from '$lib/utils.js';
  import { get } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  let breadcrumbs = [];
  let categories = get(promptCategories);
  let current;
  let showHome = false;

  promptCategoryPath.subscribe(v => {
    current = get(promptCategories);
  });

  $: {
    // const _path = $promptCategoryPath;
    // console.log(`DrillCrumbs.svelte > _path: ${JSON.stringify($promptCategoryPath)}`);
    // console.log(`DrillCrumbs.svelte > current begins with: ${JSON.stringify(current)}`);
    breadcrumbs = [];
    // console.log(`DrillCrumbs.svelte > promptCategoryPath: ${JSON.stringify($promptCategoryPath)}`);
    for(let idx = 0; idx < $promptCategoryPath.length; idx++) {
      current = current.find(category => category[0].id === $promptCategoryPath[idx]);
      // console.log(`DrillCrumbs.svelte > current for ${$promptCategoryPath[idx]}: ${JSON.stringify(current)}`);
      breadcrumbs.push({
        idx,
        id: $promptCategoryPath[idx],
        title: current[0].title,
        promptId: current[0].prompt_id
      });
      if(Array.isArray(current[1])) {
        current = current[1];
      } else {
        break;
      }
    }
    showHome = breadcrumbs.length > 0;
    // console.log(`DrillCrumbs.svelte > breadcrumbs: ${JSON.stringify(breadcrumbs)}`);
  }

  const clearPath = () => {
    // console.log(`DrillCrumbs.svelte > clearPath > clearing!`);
    clearPromptCategoryPath();
    clearChatId();
    categorySearchValue.set('');
    categoryView.set('hierarchy');
    if(browser) {
      goto('/');
    }
  };

  const goFavourites = () => {
    clearChatId();
    categorySearchValue.set('');
    categoryView.set('favourites');
    if(browser) {
      goto('/');
    }
  };

  const goAll = () => {
    clearChatId();
    categorySearchValue.set('');
    categoryView.set('all');
    if(browser) {
      goto('/');
    }
  };

  const trimPath = breadcrumb => {
    // console.log(`DrillCrumbs.svelte > trimPath > current: ${JSON.stringify(current, null, "  ")}`);
    // console.log(`DrillCrumbs.svelte > trimPath > breadcrumb: ${JSON.stringify(breadcrumb, null, "  ")}`);
    // console.log(`DrillCrumbs.svelte > trimPath > promptCategoryPath: ${JSON.stringify($promptCategoryPath)}`);
    clearChatId();
    categorySearchValue.set('');
    if(!breadcrumb.promptId) {
      promptCategoryPath.set($promptCategoryPath.slice(0, breadcrumb.idx + 1));
      if(browser) {
        goto('/');
      }
    }
  };
</script>

<nav class="heading breadcrumb is-size-7" aria-label="breadcrumbs">
  <ul>
    {#if $categoryView === 'hierarchy'}
      <li class:is-hidden={!showHome}>
        <a href="#" on:click|preventDefault={clearPath}>Home</a>
      </li>
      {#each breadcrumbs as breadcrumb (breadcrumb.id)}
        <li>
          <a href="#" on:click={() => trimPath(breadcrumb)}>
            {breadcrumb.title}
          </a>
        </li>
      {/each}
    {:else if $categoryView === 'favourites'}
      <li>
        <a href="#" on:click|preventDefault={clearPath}>Home</a>
      </li>
      <li><a on:click|preventDefault={goFavourites}>Favourites</a></li>
    {:else if $categoryView === 'all'}
      <li>
        <a href="#" on:click|preventDefault={clearPath}>Home</a>
      </li>
      <li><a on:click|preventDefault={goAll}>All Categories</a></li>
    {/if}
  </ul>
</nav>

<style>
.breadcrumb {
  margin-top: -1rem;
}
</style>
