<script>
  import { onMount } from 'svelte';
  import { autoGrowInputOnEvent } from '$lib/utils.js';
  export let editing;
  export let name;
  export let changed;
  export let saved;
  export let prompt;
  export let prompts;
  export let tipo = 'input';
  export let which = 'title';

  let content;
  let input;

  onMount(() => {
    if(prompt && prompt[which]) {
      content = prompt[which];
    }
    input.focus();
  });

  const setPrompt = () => {
    prompt[which] = content;
    let _prompt = prompts.find(p => p.id === prompt.id);
    if(_prompt) {
      _prompt[which] = content;
      _prompt.changed = true;
    }
    saved = false;
    changed = changed + 1;
  };

  const checkKey = e => {
    // Only send if Enter is pressed, not Shift+Enter
    if (e.key === 'Enter' && !e.shiftKey) {
      e.stopPropagation()
      setPrompt();
      editing = false;
      e.preventDefault()
    } else if(e.key === 'Escape') {
      content = prompt.title;
      editing = false;
    }
  };
</script>

<div class="field">
  <p class="control">
    {#if tipo === 'input'}
      <input type="text" name={name} bind:this={input} bind:value={content} on:keydown={checkKey} />
    {:else if tipo === 'textarea'}
      <textarea
        name={name};
        class="textarea is-info is-focused chat-input auto-size"
        rows="4"
        on:input={e => autoGrowInputOnEvent(e)}
        bind:this={input}
        bind:value={content}
        on:keydown={checkKey}
      />
    {/if}
  </p>
</div>

