<script>
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faTrash } from '@fortawesome/free-solid-svg-icons/index';
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';
  import { browser } from '$app/environment';

  export let questions;
  export let idx;
  let question = {};
  let huecoTaken = false;

  $: {
    
  }
  onMount(() => {
    const _qs = get(questions);
    if(typeof idx === 'number') {
      question = _qs[idx];
    }
  });

  const deleteQuestion = () => {
    let areYa;
    if(browser) {
      areYa = window.confirm('Are you certain?');
    }
    if(areYa) {
      const _qs = get(questions);
      _qs[idx].deleted = true;
      questions.set(_qs);
    }
  };

  const onChange = () => {
    let _qs = get(questions);
    if(typeof idx === 'number') {
      _qs[idx].text = question.text;
      _qs[idx].hueco = question.hueco;
      questions.set(_qs);
    }
  };

  const checkHueco = () => {
    if(question.hueco && question.hueco.trim().length > 0) {
      const _qs = get(questions);
      huecoTaken = _qs.reduce((huecoTaken, q) =>
        huecoTaken || question.hueco.toLowerCase() === q.hueco.toLowerCase,
        huecoTaken
      );
      onChange();
    }
  };
</script>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Question</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input 
          class="input" 
          name="question" 
          bind:value={question.text} 
          on:keyup={onChange}
        />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Variable to fill in</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input 
          class="input" 
          class:is-danger={huecoTaken} 
          name="hueco" 
          bind:value={question.hueco} 
          on:keyup={checkHueco} 
        />
      </p>
      <p class="help">The word here will go between curly braces {'{ }'} in either System or Initial User Template to be filled in by the user's response. No curly braces here, prosím</p>
    </div>
    <button class="button is-danger" on:click|preventDefault={deleteQuestion}>
      <Fa icon={faTrash} />
    </button>
  </div>
</div>
