<script>
  import EditQuestion from '$lib/components/EditQuestion.svelte';
  import NewQuestion from '$lib/components/NewQuestion.svelte';
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';

  export let changed;
  export let saved;
  export let questions;
  export let errors;
  let questionsLen = 0;

  $: {
    if($questions) {
      questionsLen = $questions.length;
    }
  };
  onMount(() => {
    /*
    console.log(`entering EditQuestionsForm.svelte`);
    const _qs = get(questions);
    console.log(`Questions are : ${JSON.stringify(_qs)}`);
    */
  });
</script>

<section class="section">
  {#each Array(questionsLen) as _, idx}
    {#if $questions[idx] && !$questions[idx].deleted}
      <EditQuestion bind:questions {idx} />
    {/if}
  {/each}
  <NewQuestion bind:questions bind:changed bind:saved />
</section>
