<script>
  import { allPromptCategories } from '$lib/store/Store.svelte';
  import { autoGrowInputOnEvent, hasChildren } from '$lib/utils.js';
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';

  export let saved;
  export let changed;
  export let categoryId;
  export let categoryIds;
  export let title;
  export let systemTemplate;
  export let systemTemplates = [];
  export let userTemplate;
  export let conclusionTemplate;
  export let chosenSystemTemplateId;
  export let maximumIterations = 13;
  let _title = '';
  let _systemTemplate = '';
  let _userTemplate = '';
  let _conclusionTemplate = '';
  let _maximumIterations = $maximumIterations;
  let _categoryIds = [];
  let promptCats = [];
  let availableCategories = [];
  let _chosenSystemTemplateId = 0;

  onMount(() => {
    if(title) {
      _title = get(title);
    }
    if(systemTemplate) {
      _systemTemplate = get(systemTemplate);
    }
    if(userTemplate) {
      _userTemplate = get(userTemplate);
    }
    if(conclusionTemplate) {
      _conclusionTemplate = get(conclusionTemplate);
    }
    if(categoryIds) {
      _categoryIds = get(categoryIds);
    }
    const allCategories = get(allPromptCategories);
    if(_categoryIds && _categoryIds.length > 0) {
      promptCats = _categoryIds.reduce((categories, id) => {
        const category = allCategories.find(cat => parseInt(cat.id) === parseInt(id));
        if(category) {
          promptCats.push(category);
          if(!_categoryIds.includes(category.id)) {
            _categoryIds.push(category.id);
          }
        }
        return categories;
      }, promptCats);
    } else {
      const initialCategory = allCategories.find(cat => parseInt(cat.id) === parseInt(categoryId));
      if(initialCategory) {
        promptCats.push(initialCategory);
      }
      if(!_categoryIds.includes(parseInt(categoryId))) {
        _categoryIds.push(parseInt(categoryId));
      }
    }
    console.log(`EditPromptForm.svelte > _categoryIds: ${JSON.stringify(_categoryIds)}`);
    categoryIds.set(_categoryIds);
    availableCategories = allCategories.reduce((categories, category) => {
      if(
        !hasChildren(allCategories, category) &&
          !_categoryIds.includes(category.id) && 
          (!_categoryIds || !_categoryIds.includes(category.id)) &&
          !(category.id === parseInt(categoryId))
      ) {
        categories.push(category);
      }
      return categories;
    }, []);
    availableCategories = promptCats.concat(availableCategories);
  });

  const onChangeCategories = () => {
    if(changed === 0) changed = 1;
    categoryIds.set(_categoryIds); 
  };
  const onChangeTitle = () => {
    if(changed === 0) {
      changed = 1;
    }
    title.set(_title);
  };
  const onChangeMaximumIterations = () => {
    if(changed === 0) changed = 1;
    const mi = /^\d+$/.exec(_maximumIterations);
    if(!mi) {
      if(_maximumIterations.length > 0) {
        _maximumIterations = $maximumIterations;
      }
    } else {
      maximumIterations.set(parseInt(_maximumIterations));
    }
  };
  const onChangeSystemTemplates = () => {
    if(changed === 0) changed = 1;
    setTimeout(() => {
      document.getElementById("systemTemplate").readOnly = _chosenSystemTemplateId > 0;
      chosenSystemTemplateId.set(_chosenSystemTemplateId);
    }, 500);
  };
  const onChangeSystemTemplate = () => {
    if(changed === 0) {
      changed = 1;
    }
    systemTemplate.set(_systemTemplate);
  };
  const onChangeAiTemplate = () => {
    if(changed === 0) {
      changed = 1;
    }
    userTemplate.set(_userTemplate);
  };
  const onChangeConclusionTemplate = () => {
    if(changed === 0) {
      changed = 1;
    }
    conclusionTemplate.set(_conclusionTemplate);
  };
</script>

<section class="section">
  <div class="label is-normal">
    <label for="categories">Categories</label>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <div class="select is-multiple is-fullwidth">
        <select name="categories" multiple size="5" bind:value={_categoryIds} on:change={onChangeCategories}>
          {#each availableCategories as category}
            <option value={category.id} selected={_categoryIds.includes(category.id)}>
              {category.title}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </div>
  <div class="label is-normal">
    <label for="title">Title</label>
  </div>
  <div class="field">
    <p class="control is-expanded">
      <input class="input" name="title" bind:value={_title} on:keyup={onChangeTitle} />
    </p>
  </div>
  <div class="label is-normal">
    <label for="systemTemplates">Extant System Templates</label>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select name="chosenSystemTemplateId" bind:value={_chosenSystemTemplateId} on:change={onChangeSystemTemplates}>
          <option value={0} selected={true}>
            None selected
          </option>
          {#each systemTemplates as template}
            <option value={template.id} selected={false}>
              {template.title}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </div>
  <div class="label is-normal">
    <label for="systemTemplate">System Template</label>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <textarea 
        id="systemTemplate"
        name="systemTemplate" 
        rows="6"
        cols="100%"
        on:input={e => autoGrowInputOnEvent(e)}
        bind:value={_systemTemplate}
        on:keyup={onChangeSystemTemplate}
      ></textarea>
      <p class="help">Words enclosed in curly braces {'{ }'} will be replaced by the answer to the corresponding question when the prompt is sent to ChatGPT. Note: If a system template is chosen from the dropdown, the text here will be ignored.</p>
    </div>
  </div>
  <div class="label is-normal">
    <label for="userTemplate">Initial user template</label>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <textarea 
        name="userTemplate" 
        rows="6"
        cols="100%"
        on:input={e => autoGrowInputOnEvent(e)}
        bind:value={_userTemplate}
        on:keyup={onChangeAiTemplate}
      />
      <p class="help">Same applies here regarding {'{ }'}</p>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="maximumIterations">Iterations</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control narrow">
          <input class="input" bind:value={_maximumIterations} on:keyup={onChangeMaximumIterations} />
          <p class="help">Number of iterations before forcing conclusion from LLM</p>
        </div>
      </div>
    </div>
  </div>
  <div class="label is-normal">
    <label for="conclusionTemplate">Conclusion template</label>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <textarea 
        name="conclusionTemplate" 
        rows="6"
        cols="100%"
        on:input={e => autoGrowInputOnEvent(e)}
        bind:value={_conclusionTemplate}
        on:keyup={onChangeConclusionTemplate}
      />
      <p class="help">Same applies here regarding {'{ }'}</p>
    </div>
  </div>
</section>

<style>
.narrow {
  width: 5em;
}
</style>
