<script>
  import { editPromptCategory } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  
  export let toggleEdit = () => {};
  export let categoryId;
  export let title;
  export let level = 0;
  export let ancestors = [];
  export let changed;
  export let saved;
  let input;
  let categoryName = title;

  onMount(() => {
    input.focus();
  });

  const setCategory = () => {
    changed = changed + 1;
    saved = false;
    editPromptCategory(categoryId, categoryName, level, ancestors);
    toggleEdit();
  };

  const checkKey = e => {
    // Only send if Enter is pressed, not Shift+Enter
    if (e.key === 'Enter' && !e.shiftKey) {
      e.stopPropagation()
      setCategory();
      e.preventDefault()
    } else if(e.key === 'Escape') {
      categoryName = title;
      toggleEdit();
    }
  };
</script>

<div class="field">
  <p class="control">
    <input type="text" name="categoryName" bind:this={input} bind:value={categoryName} on:keydown={checkKey} />
  </p>
</div>

