<script>
  import {
    promptCategories,
    allPromptCategories,
    categoryFavourites
  } from '$lib/store/Store.svelte';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faStar as faStarSolid } from '@fortawesome/free-solid-svg-icons/index';
  import { faStar as faStarRegular } from '@fortawesome/free-regular-svg-icons/index';
  import Category from '$lib/components/Category.svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { get } from 'svelte/store';
  import { findPromptPathFromPromptId } from '$lib/utils.js';
  export let toggleFavourite;
  let hasFavourites= false;
  let currentCategories = [];

  $: {
    hasFavourites = $categoryFavourites.length > 0;
    const categories = $allPromptCategories.filter(category => {
      return $categoryFavourites.includes(category.id);
    });
    currentCategories = [];
    let clump = [];
    for(let idx = 0; idx < categories.length; idx++) {
      if(idx % 3 === 0 && idx !== 0) {
        currentCategories.push(clump);
        clump = [];
      }
      clump.push(categories[idx]);
    }
    currentCategories.push(clump);
    // console.log(`Favourites.svelte > currentCategories: ${JSON.stringify(currentCategories, null, "  ")}`);
  };

</script>

<div class="section">
{#if !hasFavourites}
  <h1>Currently you do not have any favourites.</h1>
{:else}
  {#each currentCategories as categorySet}
    <div class="tile is-ancestor">
      {#each categorySet as category}
        <Category {category} isHierarchy={false} bind:toggleFavourite />
      {/each}
    </div>
  {/each}
{/if}
</div>

<style>
</style>
