<script>
  import { atsol } from '$lib/store/Store.svelte';
  export let status;
  export let at;

  const toLogin = () => {
    status = null;
    at = atsol.LOGIN;
  };
</script>

<article class="message" class:is-hidden={at !== atsol.FORGOTPASSWORD}>
  <div class="message-header level">
    <div class="level-left">
      You forgot your password, eh?
    </div>
    <div class="level-right">
      <a href="#" on:click={toLogin}>login</a>
    </div>
  </div>

  <div class="message-body">
    <div class="block instructions has-text-weight-semibold is-size-5">
      Enter your username or email address (or both!)
    </div>
    <form class="block" method="POST" action="?/forgotPassword">
      <div class="field">
        <label class="label" for="username">Username</label>
        <p class="control is-expanded">
          <input name="username" aria-label="Username" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Email</label>
        <p class="control is-expanded">
          <input name="email" aria-label="Email" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Do it</button>
        </div>
      </div>
    </form>
</article>

<style>
.instructions {
  margin-top: 0;
}
</style>
