<script>
  import { loggedInAs, currentFreeTrialRemainingChats } from '$lib/store/Store.svelte';

  let isFreeTrial = true;
  $: {
    if($loggedInAs) {
      isFreeTrial = $loggedInAs.isFreeTrial;
    }
  }
</script>

{#if isFreeTrial}
  <p>
    This is a free trial. 
    You have { $currentFreeTrialRemainingChats } chats left. 
    Click
    <a href="/upgrade/request">here</a>
    to upgrade.
  </p>
{/if}


