<script>
  import { headline } from '$lib/store/Store.svelte';
</script>

<div >
  <h1 class="headline">{$headline}</h1>
</div>

<style>
  .headline {
    font-size: 2rem;
    font-weight: 800;
  }
</style>

