<script>
  import {
    promptCategories,
    promptCategoryPath,
    categoryFavourites
  } from '$lib/store/Store.svelte';
  import Pills from '$lib/components/Pills.svelte';
  import Category from '$lib/components/Category.svelte';
  import {
    promptCategoriesFromPromptCategoryPath,
    sortCatsByFavourite
  } from '$lib/utils.js';
  import { get } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  export let toggleFavourite;

  let categories = get(promptCategories);
  promptCategoryPath.subscribe(v => {
    categories = get(promptCategories);
  });
  let currentCategories = [];

  $: {
    if(categories) {
      let { cats, hasPromptId } = promptCategoriesFromPromptCategoryPath(categories, $promptCategoryPath);
      cats = sortCatsByFavourite(cats, $categoryFavourites);
      if(hasPromptId) {
        if(browser) {
          goto(`/chat/snek/${hasPromptId}`);
        }
      } else {
        currentCategories = [];
        let clump = [];
        for(let idx = 0; idx < cats.length; idx++) {
          if(idx % 3 === 0 && idx !== 0) {
            currentCategories.push(clump);
            clump = [];
          }
          // console.log(`Hierarchy.svelte > category clump: ${JSON.stringify(clump, null, "  ")}`);
          cats[idx][0].hasChildren = cats[idx][1].length > 0;
          clump.push(cats[idx]);
        }
        currentCategories.push(clump);
      }
    }
  };

</script>

<div>
  {#each currentCategories as categorySet}
    <div class="tile is-ancestor">
      {#each categorySet as category}
        <Category {category} isHierarchy={true} bind:toggleFavourite />
      {/each}
    </div>
  {/each}
</div>

<style>
.is-ancestor {
  margin-left: 0px;
}
</style>
