<script>
  import logo from '$lib/assets/snelly.png'
</script>

<div class="level">
  <!--
  <div class="level-item">
    <a class="pl-4" href="https://snelly.thurk.org">
      <img src={logo} class="logo-img" />
    </a>
  </div>
-->
</div>

<style>
  .logo-img {
    width: 14%;
    /* width: 200px; */
  }
</style>



