<script>
  import { atsol } from '$lib/store/Store.svelte';
  export let at;
  export let status;

  const toSignup = () => {
    status = null;
    at = atsol.SIGNUP;
  };
  const forgotPassword = () => {
    status = null;
    at = atsol.FORGOTPASSWORD;
  };
</script>

<article class="message" class:is-hidden={at !== atsol.LOGIN}>
  <div class="message-header">
    Enter your username & password to login to Snelly or <a href="#" on:click={toSignup}>sign up</a>
  </div>

  <div class="message-body">
    <form class="field" method="POST" action="?/login">
      <div class="field">
        <label class="label" for="username">Username</label>
        <p class="control is-expanded">
          <input name="username" aria-label="Username" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label level" for="password">
          <div class="level-left">Password</div>
          <a class="has-text-weight-light level-right" href="#" on:click={forgotPassword}>I forgot my password</a>
        </label>
        <p class="control is-expanded">
          <input name="password" aria-label="Password" type="password" autocomplete="off" class="input" />
        </p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
</article>

