<script>
  import logo from '$lib/assets/snelly.png'
  import { pinMainMenu, clearChatId, loggedInAs, clearPromptCategoryPath } from '$lib/store/Store.svelte'
  // import ChatOptionMenu from '$lib/components/ChatOptionMenu.svelte'
  import Fa from 'svelte-fa/src/fa.svelte'
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

</script>

<div class="columns is-centered is-vcentered the-top">
  <div class="column is-3 is-narrow">
    <a class="pl-4" href="https://snelly.thurk.org">
      <img src={logo} class="logo-img pl-6" />
    </a>
  </div>
  <div class="column is-9 has-text-centered">
  </div>
</div>

<style>
  .share-icons {
    margin-top: -1em;
  }
  .logo-img {
    width: 50%;
    padding-top: 2rem;
  }
  .the-top {
    position: fixed;
    z-index: 1000000;
  }
</style>
