<script>
  import { onMount } from 'svelte';
  import { currentChat, ping } from '$lib/store/Store.svelte';
  import ShowMessage from '$lib/components/ShowMessage.svelte';

  let messages = [];

  $: {
    const _ping = ping;
    // console.log(`Messages.svelte > currentChat: ${JSON.stringify(chat, null, "  ")}`);
    messages = [];
    if($currentChat && $currentChat.questions) {
      const questions = $currentChat.questions;
      questions.forEach(question => {
        messages.push({
          role: 'assistant',
          content: question.question,
          uuid: question.uuid
        });
        messages.push({
          role: 'human',
          content: question.answer,
          answersFinalized: true,
          uuid: `answer-${question.uuid}`
        });
      });
    }
    /*
    if($currentChat && $currentChat.prompt) {
      const prompt = $currentChat.prompt;
      messages.push({
        role: 'system',
        content: prompt.system_template
      });
      messages.push({
        role: 'ai',
        content: prompt.system_template
      });
    }
    */
    if($currentChat && $currentChat.messages) {
      messages = messages.concat($currentChat.messages);
    }
  };
</script>

{#each messages as message, idx}
  {#key message.uuid}
  <ShowMessage role={message.role} message={message} answersFinalized={message.answersFinalized} oneForTheLastMessage={messages.length - idx} />
  {/key}
{/each}
