<script>
  import logo from '$lib/assets/snelly.png'
  import { pinMainMenu, clearChatId, loggedInAs, clearPromptCategoryPath } from '$lib/store/Store.svelte'
  // import ChatOptionMenu from '$lib/components/ChatOptionMenu.svelte'
  import Fa from 'svelte-fa/src/fa.svelte'
  import { faBars, faXmark } from '@fortawesome/free-solid-svg-icons/index';
  import { faTiktok, faFacebook, faInstagram, faYoutube } from '@fortawesome/free-brands-svg-icons';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  const home = () => {
    clearPromptCategoryPath();
    clearChatId();
    if(browser) {
      goto('/');
    }
  };
  const logout = () => {
    clearPromptCategoryPath();
    clearChatId();
    if(browser) {
      goto('/logout');
    }
  };
  const profile = () => {
    if(browser) {
      goto('/profile');
    }
  };
  const organizations = () => {
    if(browser) {
      goto('/organizations');
    }
  };
  const users = () => {
    if(browser) {
      goto('/users');
    }
  };
  const categories = () => {
    if(browser) {
      goto('/categories');
    }
  };
  const prompts = () => {
    if(browser) {
      goto('/prompts');
    }
  };
  $: {
    // console.log(`Navbar.svelte > $loggedInAs: ${JSON.stringify($loggedInAs)}`);
  };
</script>

<div class="columns is-centered is-vcentered the-top">
  <div class="column is-1" />
  <div class="column is-3">
    <a class="pl-4" href="https://snelly.thurk.org">
      <img src={logo} class="logo-img pl-6" />
    </a>
  </div>
  <div class="column is-7 has-text-centered">
    <nav class="navbar" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="container is-flex is-justify-content-center navbar-item">
            <a href="#" on:click={home} class="navbar-item">
              Home
            </a>
            {#if $loggedInAs}
              <a href="#" on:click={profile} class="navbar-item">
                My Profile
              </a>
              <a href="#" on:click={organizations} class="navbar-item">
                My Organizations
              </a>
              <!--
<a class="navbar-item">
Settings
</a>
-->
              {#if $loggedInAs.isAdmin}
                <a href="#" on:click={users} class="navbar-item">
                  Users
                </a>
                <a href="#" on:click={categories} class="navbar-item">
                  Categories
                </a>
                <a href="#" on:click={prompts} class="navbar-item">
                  Prompts
                </a>
              {/if}
            {/if}
          </div>
        </div>
        <div class="navbar-end">
          {#if !!$loggedInAs}
            <button href={'/logout'} class="button navbar-item is-danger" on:click={logout}>
              Logout
            </button>
          {/if}
          {#if !!$loggedInAs && !$loggedInAs.isAdmin}
          <div class="share-icons level navbar-item">
            <a class="level-item" on:click={() => share('tiktok')}>
              <span class="icon">
                <Fa icon={faTiktok} color={'#000000'} size={'lg'} />
              </span>
            </a>
            <a class="level-item pl-4" on:click={() => share('facebook')}>
              <span class="icon">
                <Fa icon={faFacebook} color={'#000000'} size={'lg'} />
              </span>
            </a>
            <a class="level-item pl-4" on:click={() => share('instagram')}>
              <span class="icon">
                <Fa icon={faInstagram} color={'#000000'} size={'lg'} />
              </span>
            </a>
            <a class="level-item pl-4" on:click={() => share('youtube')}>
              <span class="icon">
                <Fa icon={faYoutube} color={'#000000'} size={'lg'} />
              </span>
            </a>
          </div>
          {/if}
        </div>
      </div>
    </nav>
  </div>
  <div class="column is-1" />
</div>

<style>
  .navbar {
    font-family: Futura;
    font-weight: regular;
    margin-top: 1em;
  }
  .navbar-start {
    margin-top: -0.5em;
  }
  .share-icons {
    margin-top: -1em;
  }
  .logo-img {
    width: 40%;
    padding-top: 1.0em;
  }
</style>
