<script>
  import { addPromptCategory } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  
  export let level = 0;
  export let newCategory;
  export let ancestors = [];
  export let changed;
  export let saved;
  let input;
  let categoryName;

  onMount(() => {
    input.focus();
  });

  const setCategory = () => {
    console.log(`NewCategory.svelte > setCategory > on level ${level}, saving category: ${categoryName}`);
    newCategory = false;
    changed = changed + 1;
    saved = false;
    addPromptCategory(categoryName, level, ancestors);
  };

  const checkKey = e => {
    // Only send if Enter is pressed, not Shift+Enter
    if (e.key === 'Enter' && !e.shiftKey) {
      e.stopPropagation()
      setCategory();
      e.preventDefault()
    } else if(e.key === 'Escape') {
      categoryName = '';
      newCategory = false;
    }
  };
</script>

<div class="field">
  <label class="label" for="categoryName">New category:</label>
  <p class="control">
    <input type="text" name="categoryName" bind:this={input} bind:value={categoryName} on:keydown={checkKey} />
  </p>
</div>

