<script>
  import { get } from 'svelte/store';

  export let saved;
  export let changed;
  export let questions;

  const newQuestion = () => {
    let _qs = get(questions);
    _qs.push({
      text: '',
      hueco: '',
      novy: true
    });
    questions.set(_qs);
    changed = changed + 1;
  };
</script>

<button class="button is-info" on:click|preventDefault={newQuestion}>New Question</button>
