<script>
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faCertificate, faMagnifyingGlass, faTimes } from '@fortawesome/free-solid-svg-icons/index';
  import { categoryView, categorySearchValue } from '$lib/store/Store.svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { page } from '$app/stores';
  let view;
  let searchEquis = false;
  let searchValue = '';

  $: view = $categoryView;

  const searchChange = e => {
    // Only send if Enter is pressed, not Shift+Enter
    if(searchValue !== undefined && searchValue.trim().length === 0) {
      e.stopPropagation();
      clearSearch()
      e.preventDefault();
    } else if(searchValue !== undefined && searchValue.trim().length > 0) {
      e.stopPropagation();
      categorySearchValue.set(searchValue);
      searchEquis = true;
      e.preventDefault();
    }
    redirectToRoot();
  };

  const keyDown = e => {
    if(e.key === 'Backspace' || e.key === 'Delete') {
      if(searchValue !== undefined && searchValue.trim().length === 0) {
        clearSearch();
      }
    }
  };

  const clearSearch = () => {
    searchValue = '';
    categorySearchValue.set('');
    searchEquis = false;
  };

  const redirectToRoot = () => {
    if($page.route.id.match(/\/\(app\)\/.+/)) {
      if(browser) {
        goto('/');
      }
    }
  };

  const toggleFavourites = () => {
    console.log(`Pills.svelte > page.route.id: ${$page.route.id}`);
    if(view !== 'favourites') {
      categoryView.set('favourites');
    } else {
      categoryView.set('hierarchy');
    }
    redirectToRoot();
  };

  const toggleAll = () => {
    if(view !== 'all') {
      categoryView.set('all');
    } else {
      categoryView.set('hierarchy');
    }
    redirectToRoot();
  };
</script>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child">
      <div class="level">
        <div class="level-item">
          <div class="box favourites has-text-centered" class:light-blue={view === 'favourites'} on:click={toggleFavourites}>
            Favourites
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child">
      <div class="level">
        <div class="level-item">
          <div class="box search control has-icons-right grey">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <input type="text" bind:value={searchValue} placeholder="Search" on:input={searchChange} on:keydown={keyDown} />
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <Fa 
                    icon={faMagnifyingGlass} 
                    size="sm"
                  />
                </div>
              </div>
            </div>
            <!--
            {#if searchEquis}
              <a on:click={clearSearch}>
                <Fa icon={faTimes} />
              </a>
            {/if}
-->
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child">
      <div class="level">
        <div class="level-item">
          <div class="box all-categories has-text-centered" class:light-blue={view === 'all'} on:click={toggleAll}>
            All Categories
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .box {
    padding: 0.4rem;
    font-size: smaller;
    font-weight: 600;
    margin: 1rem;
    box-shadow: none;
    border: 1px solid #3A36DB;
  }
  .favourites {
    cursor: pointer;
    width: 54%;
  }
  .search input {
    border: 0;
  } 
  .search .level-right {
    padding-left: 2rem;
  }
  .search .level-right > .level-item {
    padding-right: 1rem;
  }
  .all-categories {
    cursor: pointer;
    width: 60%;
  }
  .light-blue {
    background-color: #eeeeff;
  }
  .border-buttons {
    color: #3A36DB
  }
  .grey {
    background: linear-gradient(90deg, #ffffff 78%, #bababa 22%);
    background-size: 100%;
  }
</style>
