<script>
  import { autoGrowInputOnEvent, scrollToBottom } from '$lib/utils.js';
  import { currentChat, pushQuestion, setAnswer } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { browser } from '$app/environment';
  import { currentPromptId, currentPromptMessages } from '$lib/store/Store.svelte';
  import Fa from 'svelte-fa/src/fa.svelte';
  import {
    faArrowUpFromBracket,
    faPaperPlane,
    faGear,
    faPenToSquare,
    faMicrophone,
    faLightbulb,
    faCommentSlash,
    faCircleCheck
  } from '@fortawesome/free-solid-svg-icons/index'
  import Footer from '$lib/components/Footer.svelte';
  export let nextQuestion = () => {};
  let formulario;
  let input;
  let recognition;

  onMount(() => {
    // Focus the input on mount
    focusInput();

    // Try to detect speech recognition support
    if(browser) {
      if ('SpeechRecognition' in window) {
        // @ts-ignore
        recognition = new window.SpeechRecognition()
      } else if ('webkitSpeechRecognition' in window) {
        // @ts-ignore
        recognition = new window.webkitSpeechRecognition() // eslint-disable-line new-cap
      }

      if (recognition) {
        recognition.interimResults = false
        recognition.onstart = () => {
          recording = true
        }
        recognition.onresult = (event) => {
          // Stop speech recognition, submit the form and remove the pulse
          const last = event.results.length - 1
          const text = event.results[last][0].transcript
          input.value = text
          recognition.stop()
          recording = false
          submitForm(true)
        }
      } else {
        console.log('Speech recognition not supported')
      }
    }
  });

  const focusInput = () => {
    input.focus();
    if(browser) {
      // scrollToBottom();
    }
  }

  const submitForm = () => { 
    const answer = input && input.value;
    setAnswer($currentChat.questionIdx, answer);
    input.value = "";
    nextQuestion();
  };
  const submitQuestion = () => { };
  const showSettingsModal = () => { };
</script>

<Footer class="prompt-input-container" strongMask={false}>
  <form bind:this={formulario} class="field has-addons has-addons-right is-align-items-flex-end" on:submit|preventDefault={() => submitForm()}>
    <p class="control is-expanded">
      <textarea
        class="input is-info is-focused chat-input auto-size"
        placeholder="Type your answer here..."
        rows="1"
        on:keydown={e => {
          // Only send if Enter is pressed, not Shift+Enter
          if (e.key === 'Enter' && !e.shiftKey) {
            e.stopPropagation()
            submitForm()
            e.preventDefault()
          }
        }}
        on:input={e => autoGrowInputOnEvent(e)}
        bind:this={input}
      />
    </p>
    <!--
    <p class="control mic" class:is-hidden={!recognition}>
      <button class="button" class:is-disabled={chatRequest.updating} class:is-pulse={recording} on:click|preventDefault={recordToggle}
      ><span class="icon"><Fa icon={faMicrophone} /></span></button
    </p>
    -->
    <p class="control settings">
      <button title="Chat/Profile Settings" class="button" on:click|preventDefault={showSettingsModal}><span class="icon"><Fa icon={faGear} /></span></button>
    </p>
    <p class="control queue">
      <button title="Queue message, don't send yet" class="button is-ghost" on:click|preventDefault={submitQuestion}><span class="icon"><Fa icon={faArrowUpFromBracket} /></span></button>
    </p>
    <p class="control send">
      <button title="Send" class="button is-info" type="submit"><span class="icon"><Fa icon={faPaperPlane} /></span></button>
    </p>
  </form>
</Footer>
