<script>
  import { currentPromptQuestions } from '$lib/store/Store.svelte'; 
  import ShowMessage from '$lib/components/ShowMessage.svelte';

  export let answersFinalised = false;
  let messages = [];
  $: {
    messages = $currentPromptQuestions.map(cPQ => {
      let message = {
        question: {
          id: cPQ.id,
          uuid: cPQ.uuid,
          content: cPQ.question,
          role: 'assistant'
        }
      };
      if(cPQ.answer) {
        message.answer = {
          id: cPQ.id,
          uuid: `answer-${cPQ.uuid}`,
          content: cPQ.answer,
          role: 'user'
        };
      }
      return message;
    });
  };

  let updateAnswer = (id, text) => {
    const _currentPromptQuestions = $currentPromptQuestions.reduce((cPQs, cPQ) => {
      if(cPQ.id === id) {
        cPQ.answer = text
      }
      return cPQ;
    }, []);
    currentPromptQuestions.set(_currentPromptQuestions);
  };
</script>

{#each messages as message}
  {#key message.question.uuid}
  <ShowMessage role={message.question.role} message={message.question} />
  {#if message.answer}
  <ShowMessage role={message.answer.role} isPromptAnswer={true} message={message.answer} bind:sumbitMessage={updateAnswer} bind:answersFinalised />
  {/if}
  {/key}
{/each}
