<script>
  import { 
    categorySearchValue, 
    allPromptCategories,
    promptCategories,
    categoryFavourites
  } from '$lib/store/Store.svelte';
  import Category from '$lib/components/Category.svelte';

  let currentCategories = [];
  let searchFound = false;

  $: {
    const re = new RegExp($categorySearchValue, "i");
    const categories = $allPromptCategories
      .filter(({ title }) => !!re.exec(title));
    searchFound = categories.length > 0;
    currentCategories = [];
    let clump = [];
    for(let idx = 0; idx < categories.length; idx++) {
      if(idx % 3 === 0 && idx !== 0) {
        currentCategories.push(clump);
        clump = [];
      }
      clump.push(categories[idx]);
    }
    currentCategories.push(clump);
  };
</script>

{#if !searchFound}
  <h1>Your search reveals nothing.</h1>
{:else}
  {#each currentCategories as categorySet}
    <div class="tile is-ancestor">
      {#each categorySet as category}
        <Category {category} isHierarchy={false} />
      {/each}
    </div>
  {/each}
{/if}

<style>
  .box {
    position: relative;
    padding: 2rem;
    border-radius: 24px;
    border: 2px solid #3A36DB;
    box-shadow: -3px 3px 8px rgba(12, 12, 12, 0.2);
    /* box-shadow: rgba(100, 100, 100, 0.1) 0px 6.66667px 13.3333px -1.66667px; */
  }
  .star {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
  }
  .has-prompt {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #ccbbcc;
    font-size: smaller;
  }
</style>
