<script>
  import SvelteMarkdown from 'svelte-markdown';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faTrash, faDiagramPredecessor, faDiagramNext, faCircleCheck, faPaperPlane, faEye, faEyeSlash, faEllipsis, faDownload, faCircleNotch } from '@fortawesome/free-solid-svg-icons/index';
  import { onMount } from 'svelte';
  import { messageIsLoading } from '$lib/store/Store.svelte';
  import { price, removeBrsFromStart } from '$lib/utils.js';
  export let role = 'user';
  export let message = {};
  export let submitMessage = () => {};
  export let isPromptAnswer = false;
  export let answersFinalized = false;
  export let oneForTheLastMessage = 0;
  let editing = false;
  let original;
  let displayMessage = '';
  let waitingForDeleteConfirm;
  let waitingForSendConfirm;

  // Marked options
  const markdownOptions = {
    gfm: true, // Use GitHub Flavored Markdown
    breaks: true, // Enable line breaks in markdown
    mangle: false // Do not mangle email addresses
  };
  let isError, isSystem, isUser, isAssistant, isImage;

  onMount(() => {
    isError = role === 'error';
    isSystem = role === 'system';
    isUser = role === 'user' || role === 'human';
    isAssistant = role === 'assistant' || role === 'ai';
    isImage = role === 'image';
    displayMessage = message.content;
  });

  const edit = () => {
    if (!isUser || answersFinalized) return;
    editing = true;
    original = message.content;
    setTimeout(() => {
      const el = document.getElementById('edit-' + message.uuid);
      el && el.focus();
    }, 0);
  };

  const exit = () => {
    if(message.content !== original) {
      submitMessage(message.id, message.content);
    }
    editing = false;
  };

  let dbnc;
  const update = () => {
    clearTimeout(dbnc);
    dbnc = setTimeout(() => { exit() }, 250);
  };

  const keydown = (event) => {
    if (event.key === 'Escape') {
      if (!editing) return;
      event.stopPropagation();
      event.preventDefault();
      message.content = original;
      editing = false;
    }
    if (event.ctrlKey && event.key === 'Enter') {
      if (!editing) return;
      event.stopPropagation();
      event.preventDefault();
      exit();
      // checkTruncate();
      // setTimeout(checkTruncate, 10);
    }
  };

  // Double click for mobile support
  let lastTap;
  const editOnDoubleTap = () => {
    const now = new Date().getTime();
    const timesince = now - lastTap;
    if ((timesince < 400) && (timesince > 0)) {
      edit();
    }
    lastTap = new Date().getTime();
  };

</script>

<article
  id="{'message-' + message.uuid}"
  class="message chat-message" 
  class:is-info={isUser}
  class:is-success={isAssistant || isImage}
  class:is-warning={isSystem}
  class:is-danger={isError}
  class:user-message={isUser || isSystem}
  class:assistant-message={isError || isAssistant || isImage}
>
  <div class="message-body content">
  {#if editing}
    <form class="message-edit" on:submit|preventDefault={update} on:keydown={keydown}>
      <div 
        id={'edit-' + message.uuid} 
        class="message-editor" 
        bind:innerText={message.content} 
        contenteditable on:input={update} 
        on:blur={exit} 
      />
    </form>
  {:else}
    <div 
      class="message-display" 
      on:touchend={editOnDoubleTap} 
      on:dblclick|preventDefault={() => edit()}
    >
      {#if oneForTheLastMessage === 1 && !isUser && $messageIsLoading}
        <Fa icon={faCircleNotch} spin />
      {/if}
      {@html removeBrsFromStart(message.content)}
    </div>
    {#if message.zep}
      <div class="message-metadata has-text-right has-text-grey-light has-text-weight-light is-italic">
        {message.zep.token_count} tokens
      </div>
      <div class="message-metadata has-text-right has-text-grey-light has-text-weight-light is-italic">
        {price(message.zep.token_count)}
      </div>
    {/if}
  {/if}
  </div>
  <div class="tool-drawer-mask"></div>
  <div class="tool-drawer">
    <div class="button-pack">
      {#if !isPromptAnswer}
      <a
        href={'#'}
        title="Delete this message"
        class="msg-delete button is-small"
        on:click|preventDefault={() => {
          // checkDelete()
        }}
      >
      {#if waitingForDeleteConfirm}
      <span class="icon"><Fa icon={faCircleCheck} /></span>
      {:else}
      <span class="icon"><Fa icon={faTrash} /></span>
      {/if}
      </a>
      {/if}
      {#if editing && isUser}
        <a
          href={'#'}
          title="Update"
          class="msg-truncate button is-small"
          on:click|preventDefault={() => {
            exit()
          }}
        >
        {#if waitingForSendConfirm}
        <span class="icon"><Fa icon={faCircleCheck} /></span>
        {:else}
        <span class="icon"><Fa icon={faPaperPlane} /></span>
        {/if}
        </a>
      {/if}
      </div>
  </div>
</article>

<style>
  .message-metadata {
    font-size: smaller;
  }
</style>
