<script>
  import { deleteChat, promptCategoryPath, setChatId, organizations, changeOrganization, sidebarOrgId } from '$lib/store/Store.svelte';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faTrash, faChevronDown, faChevronUp, faRightLeft, faXmark, faCheck } from '@fortawesome/free-solid-svg-icons/index';
  import { chats, loggedInAs } from '$lib/store/Store.svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { get } from 'svelte/store';

  let history = [];
  let orgs = [];
  let orgModal;
  let orgFormulario;
  let chatForModal = {};
  let orgFromModal;
  let currentOrgId = 0;
  let currentOrg = [];
  /*
   * 0: Move chat to another organization
   * 1: Remove chat from organization (and move to Unordered)
   * 2: Delete chat
   */
  let orgModalContentId = 0;
  $: {
    console.log(`Sidebar.svelte > orgModalContentId: ${orgModalContentId}`);
  };
  const changeOrg = () => {
    sidebarOrgId.set(currentOrgId);
    currentOrg = 
      orgs.find(org => org.id === currentOrgId) || 
        org.find(org => org.id === 0);
  };
  $: {
    if($loggedInAs) {
      const _chats = get(chats);
      const userChats = _chats[$loggedInAs.username] || {};
      // console.log(`Sidebar.svete > userChats: ${JSON.stringify(userChats, null, "  ")}`);
      const chatIds = Object.keys(userChats);
      const _organizations = get(organizations);
      if(!_organizations.some(org => !org.id)) {
        _organizations.push({
          name: 'Unordered',
          description: 'Those without an organization',
          userId: $loggedInAs.id,
          id: 0
        });
      }
      orgs = (_organizations || []).map(org => {
        // console.log(`Sidebar.svelte > Consulting org ${org.name}`);
        if(chatIds.length > 0) {
          // console.log(`Sidebar.svelte > and there are ${chatIds.length} chats (total)`);
          const orgChats = chatIds.reduce((orgChats, chatId) => {
            const chat = userChats[chatId];
            // console.log(`Sidebar.svelte > Consulting this chat: ${JSON.stringify(chat)}`);
            if(chat.organizationId === org.id || (!chat.organizationId && !org.id)) {
              // console.log(`Sidebar.svelte > Which is part of our org`);
              chat.id = chatId;
              chat.promptId = chat.prompt.id;
              // console.log(`Sidebar.svelte > CHAT CATEGORY PATH: ${chat.categoryPath}`);
              if(!chat.baseCategory || chat.baseCategory === 'Unknown') {
                if(chat.categoryPath && typeof chat.categoryPath === 'object') {
                  chat.baseCategory = chat.categoryPath && chat.categoryPath.length > 0 && chat.categoryPath[0].title || "Unknown";
                } else if(chat.categoryPath && typeof chat.categoryPath === 'string') {
                  const m = /^<strong>(\w+)</.exec(chat.categoryPath);
                  if(m && m[1]) {
                    chat.baseCategory = m[1]; 
                  } else {
                    chat.baseCategory = 'Unknown';
                  }
                } else {
                  chat.baseCategory = 'Unknown';
                }
              } else if(typeof chat.baseCategory === 'object') {
                chat.baseCategory = chat.baseCategory.title;
              }
              if(chat.categoryPath && chat.categoryPath.length > 0 && typeof chat.categoryPath[0] === 'object') {
                chat.categoryPath = chat.categoryPath.map(path => {
                  return `<strong>${path.title}</strong>`;
                }).join("<br />");
              }
              orgChats.push(chat);
            }
            return orgChats;
          }, []);
          let baseCat;
          org.chats = orgChats.
            sort((a, b) => a.baseCategory > b.baseCategory)
            .reduce((orgChats, chat) => {
              if(chat.baseCategory !== baseCat) {
                orgChats.push([]);
                baseCat = chat.baseCategory;
              }
              orgChats[orgChats.length - 1].push(chat);
              return orgChats;
            }, []);
          org.empty = false;
        } else {
          org.chats = [];
          org.empty = true;
        }
        org.open = false;
        return org;
      });
      const _sidebarOrgId = get(sidebarOrgId);
      if(sidebarOrgId) {
        currentOrgId = _sidebarOrgId;
      } else {
        sidebarOrgId.set(0);
        currentOrgId = 0;
      }
      changeOrg();
      // console.log(`Sidebar.svelte > in the end our orgs are: ${JSON.stringify(orgs, null, "  ")}`);
    }
    if($loggedInAs && $chats && $chats[$loggedInAs.username]) {
      const userChats = $chats[$loggedInAs.username];
      if(userChats) {
        console.log(`Sidebar.svelte > how many chats are there? ${Object.keys(userChats).length}`);
      }
      const userChatIds = Object.keys(userChats);
      // console.log(`Sidebar.svelte > userChatIds: ${JSON.stringify(userChatIds)}`);
      history = [];
      userChatIds.forEach(chatId => {
        const chat = userChats[chatId];
        if(chat && chat.messages && chat.messages.length > 0) {
          let entry = {
            id: chatId,
            title: chat.title,
            promptId: chat.prompt.id
          };
          if(chat.categoryPath && chat.categoryPath.length > 0 && typeof chat.categoryPath[0] === 'object') {
            entry.categoryPath = chat.categoryPath.map(path => path.title).join(" > ");
          } else {
          }
          history.push(entry);
        }
      });
    }
  };

  const loadChat = ({ id, promptId }) => {
    setChatId(id);
    if(browser) {
      goto(`/chat/${id}`);
    }
  };

  const submitOrgForm = async () => {
    vanishOrgModal();
    console.log(`Sidebar.svelte > submitOrgForm > orgModalContentId: ${orgModalContentId}`);
    if(orgModalContentId === 0) {
      if(orgFromModal) {
        const orgId = parseInt(orgFromModal);
        console.log(`Sidebar.svelte > submitOrgForm > ordId: ${orgId}`);
        console.log(`Sidebar.svelte > submitOrgForm > chatForModal: ${JSON.stringify(chatForModal)}`);
        if(!isNaN(orgId) && chatForModal) {
          await changeOrganization(chatForModal.id, orgId);
        }
      }
    } else if(orgModalContentId === 1) {
      if(chatForModal) {
        await changeOrganization(chatForModal.id, null);
      }
    }
  };

  const revealModal = contentId => {
    orgModalContentId = contentId;
    if(orgModal) {
      orgModal.classList.add('is-active');
    }
  };

  const moveChat = chat => {
    orgModalContentId = 0;
    chatForModal = chat;
    revealModal(0);
  };

  const removeChat = chat => {
    orgModalContentId = 1;
    chatForModal = chat;
    revealModal(1);
  };

  const delChat = async id => {
    if(window.confirm("Are you sure you want to delete this chat?")) {
      const { currentChatDeleted, internalChatId } = await deleteChat(id);
      if(currentChatDeleted) {
        if($promptCategoryPath.length > 0) {
          promptCategoryPath.set($promptCategoryPath.slice(0, -1)); 
        }
        await fetch(`/api/removeChat/${internalChatId}`, { method: 'post' });
        if(browser) {
          goto('/');
        }
      }
      return true;
    }
    return false;
  };

  const openCloseOrg = ({ id }) => {
    orgs = orgs.reduce((orgs, org) => {
      if(org.id === id) {
        org.open = !org.open;
      }
      orgs.push(org);
      return orgs;
    }, []);
  };

  const vanishOrgModal = () => {
    if(orgModal) {
      orgModal.classList.remove("is-active");
    }
  };
</script>

<div class="level">
  <div class="field level-item">
    <div class="select is-rounded is-primary is-small">
      <select bind:value={currentOrgId} class="org-select" on:change={changeOrg}>
        {#each orgs as org}
          <option value={org.id}>{org.name}</option>
        {/each}
      </select>
    </div>
  </div>
</div>

<div class="title has-text-centered history">
  <h4 class="subtitle">History</h4>
</div>

{#each (currentOrg.chats || []) as chatGroup}
  <div class="card">
    <div class="card-header">
      {chatGroup[0].baseCategory}
    </div>
    <div class="card-content">
      {#each chatGroup as _chat}
        <div class="card sub-card">
          <div class="card-content">
            <a href={'#'} on:click|preventDefault={() => loadChat(_chat)}>{_chat.title}</a>
          </div>
          <footer class="card-footer">
            <a 
              href="#" 
              title="Move chat to a different organization" 
              class="card-footer-item" 
              on:click|preventDefault={() => moveChat(_chat)}
            ><Fa icon={faRightLeft} /></a>
            <a 
              href="#" 
              title="Remove chat from organization" 
              class="card-footer-item"
              on:click|preventDefault={() => removeChat(_chat)}
            ><Fa icon={faXmark} /></a>
            <a 
              href="#" 
              title="Delete chat" 
              class="card-footer-item"
              on:click|preventDefault={() => delChat(_chat.id)}
            ><Fa icon={faTrash} /></a>
          </footer>
        </div>
      {/each}
    </div>
  </div>
{/each}

<div class="modal" bind:this={orgModal}>
  <div class="modal-background" on:click={vanishOrgModal} ></div>
  <form bind:this={orgFormulario} on:submit|preventDefault={() => submitOrgForm()}>
    <div class="modal-card">
      <div class="modal-card-head">
        <h1 class="title is-4">
          {#if orgModalContentId === 0}
            Change chat's organization
          {:else if orgModalContentId === 1}
            Remove chat from it's organization
          {:else}
            This should NOT happen! The heat death of the universe approaches!
          {/if}
        </h1>
      </div>
      <section class="modal-card-body">
        <section>
          <div class="field">
            <label class="label">
              Chat title: {chatForModal.title}
            </label>
          </div>
        </section>
        {#if orgModalContentId === 0}
        <hr />
        <section>
          <div class="field">
              <label for="organizationId" class="label">Organizations</label>
              <div class="select is-small is-primary">
                <select name="organizationId" bind:value={orgFromModal}>
                  {#each orgs as org}
                    <option value={org.id}>{org.name}</option>
                  {/each}
                </select>
              </div>
            </div>
        </section>
        {/if}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">
          <Fa icon={faCheck} />
          <span class="padding-left">Do it</span>
        </button>
        <button class="button is-danger" on:click|preventDefault={vanishOrgModal}>
          <Fa icon={faXmark} />
          <span class="padding-left">Cancel</span>
        </button>
      </footer>
    </div>
  </form>
</div>

<style lang="scss">
  .brand {
    font-family: Lato;
    font-size: 4em;
  }
  .card {
    font-family: Lato;
  }
  .logo {
    width: 100%;
  }
  .logo-img {
    width: 200px;
  }
  .padding-left {
    padding-left: 0.7em;
  }
  .is-rounded > select {
    border-radius: 8px;
    /* height: 70%; */
    /* border: 1px solid #3A36DB; */
  }
  .is-rounded > select {
    font-weight: 700;
  }
  h4 {
    font-weight: 900;
  }
  .card {
    font-size: smaller;
    font-weight: 700;
    box-shadow: none;
  }
  .card > .card-header {
    padding: 2rem;
    padding-bottom: 0;
    box-shadow: none;
    margin-bottom: -1rem;
  }
  .card > .card-content {
    padding: 1rem;
    box-shadow: none;
  }
  .card a {
    color: black;
  }
  .card-footer {
    border: none;
    margin-top: -0.5rem;
  }
  .history {
    margin-bottom: 0rem;
  }
</style>
