<script>
  import { atsol } from '$lib/store/Store.svelte';
  export let at;
  export let status;

  const toLogin = () => {
    status = null;
    at = atsol.LOGIN;
  };
</script>

<article class="message" class:is-hidden={at !== atsol.SIGNUP}>
  <div class="message-header">
    Sign up for a free trial of Snelly or <a href="#" on:click={toLogin}>login</a>
  </div>

  <div class="message-body">
    <form class="field" method="POST" action="?/signup">
      <div class="field">
        <label class="label" for="username">Username</label>
        <p class="control is-expanded">
          <input name="username" aria-label="Username" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label" for="username">Email</label>
        <p class="control is-expanded">
          <input name="email" aria-label="Email" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label" for="username">Actual name</label>
        <p class="control is-expanded">
          <input name="name" aria-label="Name" type="text" autocomplete="on" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <p class="control is-expanded">
          <input name="password" aria-label="Password" type="password" autocomplete="off" class="input" />
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Repeat Password</label>
        <p class="control is-expanded">
          <input name="passwordConfirmation" aria-label="Password Confirmation" type="password" autocomplete="off" class="input" />
        </p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</article>
