<script>
  import { allPromptCategories } from '$lib/store/Store.svelte';
  import { get } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';
  import { onMount } from 'svelte';
  import { hasChildren } from '$lib/utils.js';
  import Fa from 'svelte-fa/src/fa.svelte';
  import { faTrash, faPencil, faQuestionCircle } from '@fortawesome/free-solid-svg-icons/index';
  import EditSulliedPrompt from '$lib/components/EditSulliedPrompt.svelte';

  export let prompt;
  export let prompts;
  export let changed;
  export let saved;
  export let filter;
  let availableCategories = [];
  let selectedCategories = [];
  let systemTemplatesLoaded = [];
  let systemTemplates = [];
  let editing = false;

  onMount(async () => {
    const res = await fetch(`/api/fetchTemplatesByType/system`, {
      method: 'post'
    });
    if(res.status === 200) {
      const json = await res.json();
      // console.log(`/(admin)/questions/new > onMount > json: ${JSON.stringify(json)}`);
      if(json && json.status && json.status === 'ok') {
        systemTemplatesLoaded = json.templates;
      }
    }
    const allCategories = get(allPromptCategories);
    if(prompt && prompt.prompt_category_ids) {
      selectedCategories = prompt.prompt_category_ids.reduce((categories, id) => {
        const category = allCategories.find(category => category.id === id);
        if(category) {
          categories.push(category);
        }
        return categories;
      }, []);
      availableCategories = allCategories.reduce((categories, category) => {
        if(
          !hasChildren(allCategories, category) &&
          !prompt.prompt_category_ids.includes(category.id)
        ) {
          categories.push(category);
        }
        return categories;
      }, []);
    }
  });

  $: {
    if(systemTemplatesLoaded.length > 0) {
      systemTemplates = systemTemplatesLoaded;
    }
  };

  const sulliedEdit = () => {
    editing = !editing;
  };

  const toQuestions = () => {
    let _prompt = prompts.find(p => p.id === prompt.id);
    if(!_prompt) {
      _prompt = prompt;
    }
    const categoryId = prompt.prompt_category_ids[0];
    if(browser) {
      goto(`/questions/${categoryId}/${prompt.id}`);
    }
  };

  const deletePrompt = () => {
  };
</script>

<div class="columns">
  <div class="column is-one-fifth">
    <div class="control">
      <div class="select is-multiple">
        <select name="categories" multiple size="3">
          {#each selectedCategories as category}
            <option value={category.id} selected>
              {category.title}
            </option>
          {/each}
          {#each availableCategories as category}
            <option value={category.id}>
              {category.title}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </div>
  <div class="column is-one-fifths">
    <div class="field">
      <div class="label" for="title">Title</div>
      {#if editing}
        <EditSulliedPrompt name={'title'} bind:prompts bind:changed bind:saved bind:prompt bind:editing={editing} which={'title'} />
      {:else}
        {prompt.title}
      {/if}
    </div>
  </div>
  <div class="column is-two-fifths">
    <div class="field">
      <div class="label" for="systemTemplate">
        System template
      </div>
      <div class="field">
        <div class="control is-fullwidth">
          <div class="select">
            <select name={`systemTemplateId${prompt.id}`} bind:value={prompt.system_template_id}>
              {#each systemTemplates as template}
                <option value={template.id} selected={prompt.system_template_id === template.id}>
                  {template.title}
                </option>
              {/each}
            </select>
          </div>
        </div>
      </div>
      {#if editing}
        <EditSulliedPrompt 
          name={'systemTemplate'}
          bind:prompts
          bind:changed
          bind:saved
          bind:prompt
          bind:editing
          which={'system_template'}
          tipo='textarea'
        />
      {:else}
        <div>{prompt.system_template}</div>
      {/if}
    </div>
    <div class="field">
      <div class="label" for="userTemplate">User template</div>
      {#if editing}
        <EditSulliedPrompt 
          name={'userTemplate'}
          bind:changed
          bind:saved
          bind:prompt
          bind:prompts
          bind:editing
          which={'user_template'}
          tipo='textarea'
        />
      {:else}
        <div>{prompt.user_template}</div>
      {/if}
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="level">
      <div class="level-item has-text-centered pointer" on:click={sulliedEdit}>
        <Fa icon={faPencil} />
      </div>
      <div class="level-item has-text-centered pointer" on:click={toQuestions}>
        <Fa icon={faQuestionCircle} />
      </div>
      <div class="level-item has-text-centered pointer" on:click={deletePrompt}>
        <Fa icon={faTrash} />
      </div>
    </div>
  </div>
</div>

<style>
  .pointer {
    cursor: pointer;
  }
</style>
