<script>
  import DrillCrumbs from '$lib/components/DrillCrumbs.svelte';
  import Headline from '$lib/components/Headline.svelte';
  import Navbar from '$lib/components/Navbar.svelte';
  import FreeTrialInfo from '$lib/components/FreeTrialInfo.svelte';
  import { page } from '$app/stores';
  import { currentChatId, loggedInAs } from '$lib/store/Store.svelte';
  let notAdmin = true;
  $: {
    const currentPage = $page.url.pathname;
    notAdmin = !currentPage.match(/(categories|prompts|users)/);
  }

  let isFreeTrial = true;
  $: {
    if($loggedInAs) {
      isFreeTrial = $loggedInAs.isFreeTrial;
    }
  }

</script>

<div class="the-top">
  <Navbar />
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column is-9">
      <DrillCrumbs />
    </div>
  </div>
  {#if notAdmin}
    <div class="columns">
      <div class="column is-3"></div>
      <div class="column is-9">
        {#if isFreeTrial}
          <FreeTrialInfo />
        {/if}
        {#if !$currentChatId}
          <Headline />
        {/if}
      </div>
    </div>
  {/if}
</div>

<style>
  .the-top {
    /* position: fixed; */
    z-index: 100000;
  }
</style>
