<script>
  import { currentChat, currentChatId, setChatId } from '$lib/store/Store.svelte';
  import Messages from '$lib/components/Messages.svelte';
  import ChatForm from '$lib/components/ChatForm.svelte';
  import { onMount } from 'svelte';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  export let data;

  onMount(() => {
    if(data && data.chatId) {
      console.log(`/(app)/chat/chatId > chatId: ${data.chatId}`);
      setChatId(data.chatId);
      if($currentChatId) {
        // continue...       
      } else {
        if(browser) {
          goto('/');
        }
      }
    }
  });
</script>

<div class="section">
  <Messages />
  <ChatForm />
</div>
