<script>
  import EditPromptForm from '$lib/components/EditPromptForm.svelte';
  import EditQuestionsForm from '$lib/components/EditQuestionsForm.svelte';
  import { setPromptIdInCategories } from '$lib/store/Store.svelte';
  import { onMount } from 'svelte';
  import { get, writable } from 'svelte/store';
  import { browser } from '$app/environment';
  import { goto } from '$app/navigation';

  export let data;
  let categoryId;
  let changed = 0;
  let saved = true;
  let prompt = null;
  let questions = writable([]);
  let categoryIds = writable([]);
  let title = writable('');
  let systemTemplate = writable('');
  let systemTemplatesLoaded = [];
  let systemTemplates = [];
  let userTemplate = writable('');
  let conclusionTemplate = writable('');
  let chosenSystemTemplateId = writable(0);
  let maximumIterations = writable(13);
  let errors = [];

  onMount(async () => {
    // console.log(`/(admin)/questions/new > fetching templates`);
    const res = await fetch(`/api/fetchTemplatesByType/system`, {
      method: 'post'
    });
    if(res.status === 200) {
      const json = await res.json();
      // console.log(`/(admin)/questions/new > onMount > json: ${JSON.stringify(json)}`);
      if(json && json.status && json.status === 'ok') {
        systemTemplatesLoaded = json.templates;
      }
    }
  });

  $: {
    if(systemTemplatesLoaded.length > 0) {
      systemTemplates = systemTemplatesLoaded;
      // console.log(`/(admin)/questions/new > systemTemplates: ${JSON.stringify(systemTemplates)}`);
    }
    if(data && data.prompt) {
      console.log(`/(admin)/edit/categoryId/promptId/+page.svelte > prompt: ${JSON.stringify(data.prompt)}`);
      prompt = data.prompt; 
      resetPrompt();
    }
    resetQuestions();
  };

  const save = async () => {
    console.log(`/(admin)/questions/new > saving these apparati: questions: ${JSON.stringify($questions, null, "  ")}\ncategoryIds: ${JSON.stringify($categoryIds, null, "  ")}\ntitle: ${$title}\nsystemTemplate: ${$systemTemplate}\nuserTemplate: ${$userTemplate}`);
    // need error checking
    if($title.trim().length === 0 || $systemTemplate.trim().length === 0 || $userTemplate.trim().length === 0 || $categoryIds.length === 0) {
      alert("That ain't the way, vole!")
    } else {
      let formData = new FormData();
      formData.set('id', (prompt && prompt.id) || 0);
      formData.set('categoryIds', JSON.stringify($categoryIds));
      formData.set('title', $title);
      formData.set('systemTemplate', $systemTemplate);
      formData.set('userTemplate', $userTemplate);
      formData.set('maximumIterations', $maximumIterations);
      formData.set('conclusionTemplate', $conclusionTemplate);
      formData.set('chosenSystemTemplateId', $chosenSystemTemplateId);
      formData.set('questions', JSON.stringify($questions));
      const res = await fetch('/api/savePromptWithQuestions', {
        method: 'post',
        body: formData
      });
      if(res.status === 200) {
        const json = await res.json();
        if(json.success && json.promptId) {
          setPromptIdInCategories($categoryIds, json.promptId);
          changed = 0;
          saved = true;
          alert('Saved, your excellency');
          if(browser) {
            goto('/categories');
          }
        } else {
          alert(`Error: ${json.error}`);
          if(browser) {
            goto('/categories');
          }
        }
      } else {
        alert('Could not connect to server?');
        if(browser) {
          goto('/categories');
        }
      }
    } 
  };

  const resetPrompt = () => {
    if(prompt) {
      title.set(prompt.title);
      systemTemplate.set(prompt.system_template);
      userTemplate.set(prompt.user_template);
      conclusionTemplate.set(prompt.conclusion_template);
      maximumIterations.set(prompt.maximum_iterations);
      categoryIds.set(prompt.prompt_category_ids);
    }
  };

  const resetQuestions = () => {
    if(data && data.questions) {
      console.log(`/(admin)/edit/.../+page.svelte > resetQuestions: questions are ${JSON.stringify(data.questions)}`);
      questions.set(data.questions);
    }
  };

  const cancel = () => {
    resetPrompt();
    resetQuestions();
    changed = 0;
    saved = true;
  };
</script>

<div class="columns">
  <div class="column is-four-fifths">
    <div class="title">Edit Prompt</div>
  </div>
  <div class="column is-one-fifth is-flex is-justify-content-right">
    {#if changed > 0}
      <button class="button is-warning" on:click={cancel}>Cancel</button>
    {/if}
    <button class="button" class:is-light={changed === 0} class:is-danger={changed > 0} disabled={changed === 0} on:click={save}>Save</button>
  </div>
</div>
<EditPromptForm 
  bind:title
  bind:systemTemplate
  bind:systemTemplates
  bind:chosenSystemTemplateId
  bind:userTemplate
  bind:maximumIterations
  bind:conclusionTemplate
  bind:categoryId 
  bind:changed 
  bind:saved 
  bind:categoryIds 
  bind:errors
/>
<EditQuestionsForm bind:questions bind:changed bind:saved bind:errors />

